*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

a {
    color: #ccc;
    text-decoration: none;
    outline: none;
}

/*Fun begins*/

section {
    clear: both;
    padding-top: 10px;
    display: none;
}

label {
    font-weight: 700;
    font-size: 15px;
    display: block;
    float: left;
    width: 25%;
    padding: 1.5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
    padding: 20px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}

/*.tab_container .tab-content p,
.tab_container .tab-content h3 {
-webkit-animation: fadeInScale 0.7s ease-in-out;
-moz-animation: fadeInScale 0.7s ease-in-out;
animation: fadeInScale 0.7s ease-in-out;
}*/

.tab_container .tab-content h3 {
    text-align: center;
}

.tab_container [id^="tab"]:checked + label {
    background: #fff;
    box-shadow: inset 0 3px #7ee240;
}

.tab_container [id^="tab"]:checked + label .fa {
    color: #7ee240;
}

label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

/*Media query*/

@media only screen and (max-width: 900px) {
    .tab_container {
        width: 98%;
    }
}

/*Content Animation*/

/*@keyframes fadeInScale {
0% {
transform: scale(0.9);
opacity: 0;
}
100% {
transform: scale(1);
opacity: 1;
}
}*/

.no_wrap {
    text-align: center;
    color: #7ee240;
}

.link {
    text-align: center;
}

.navi_right {
    position: fixed;
    background: #999;
    width: 200px;
    height: 400px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 50px;
}

.info_title {
    border-bottom: solid 2px #000;
    margin-top: 20px;
    width: 900px;
    padding: 10px;
}

.packageprice_detail{
    color : #fff;
    text-decoration: underline;
}
.packageprice_detail:hover {
    color: #3a8517
}
.sub_tab_menu{
    display: table;
    width: 100%;
}
.sub_tab_wrap {
    display: table-cell;
    width: 50%;
}