@charset "UTF-8";
@for $i from 1 through 100 {
	.mt-#{$i} {
        margin-top: #{$i}px 
	}
	.mb-#{$i} {
		margin-bottom: #{$i}px
	}
	.ml-#{$i} {
		margin-left:#{$i}px 
	}
	.mr-#{$i} {
		margin-right: #{$i}px 
	}
	//패딩
	.pt-#{$i} {
		padding-top: #{$i}px
	}
	.pb-#{$i} {
		padding-bottom: #{$i}px
	}
	.pl-#{$i} {
		padding-left: #{$i}px 
	}
	.pr-#{$i} {
		padding-right: #{$i}px
	}
}

@for $i from 1 through 6 {
	section#section#{$i} {
		position: relative;
		height: 100%;
	}
}

