header {
	@import "header/nav";
	@import "header/article";
	@import "header/book";
	color: white;
	padding: 0 !important;
	z-index: 1; //overflow-x: hidden;
	position: relative;
	@include backcover('../img/background/hero-image.jpg');
	&::after {
		content: '';
		z-index: -1;
		top: 0;
		right: 0;
		position: absolute;
		height: 100%;
		background-color: rgba(32, 32, 32, 0.8);
		width: 100%;
	}
} //header
