//TODO MIXIN 지정
//NOTE 배경이미지 지정
@mixin backcover($url){
    background: {
        image:url($url);
        repeat:no-repeat;
        size:cover;
        width:100%;
        height: auto;
        position: center center;
    };
}
//NOTE 배경이미지 위치 하단 우선
@mixin backcover-bottom($url){
        background: {
        image:url($url);
        repeat:no-repeat;
        size:cover;
        width:100%;
        height: auto;
        position: center bottom;
    };
}
//NOTE 배경이미지 위치 상단 우선
@mixin backcover-top($url){
        background: {
        image:url($url);
        repeat:no-repeat;
        size:cover;
        width:100%;
        height: auto;
        position: center top;
    };
}
//NOTE font 크기와 bold 처리
@mixin fontbold($size,$font-weight:bold){
    font:{
        weight:$font-weight;
        size:$size;
    };
}
//NOTE 폰트크기와 색상지정
@mixin fontcolor($size,$color){
    font-size:$size;
    color:$color;
}
//NOTE 패딩과 마진설정
@mixin pmz($padding,$margin){
    padding: $padding;
    margin:$margin;
}
//NOTE 테두리설정
@mixin bordersolid($width,$color,$border-style:solid){
    border{
        width:$width;
        color:$color;
        style:$border-style;
    }
}
//NOTE 박스모델의 넓이와 높이
@mixin boxs($width,$height){
    width:$width;
    height: $height;
}
//NOTE 박스 모델의 상단과 하단에만 border지정
@mixin btb($width,$color){
    border:{
        top:$width $color solid;
        bottom:$width $color solid;
    }
}

@mixin fsize($fsize){
    font-size: $fsize;
    line-height: $fsize*1.4;
}

@mixin color($color){
    border-color: $color;
    color:$color;
}
        