#section1 {
	nav {
		height: 100px;
		ul {
			list-style: none;
			margin-bottom: 0;
		}
	}
	#logo {
		display: flex;
		align-items: center;
		&::after{
			content: '';
			display: inline-block;
			float: right;
			border-left: 2px solid white;
			height: 15px;
			margin: 0 15px;
		}
	}
	#searchform {
		input {
			outline: 0;
			border: 0;
			background-color: transparent;
			font-size: 14px;
			min-width: 260px;
		}
	}
}
