@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@font-face {
  font-family: 'TmonMonsori';
  src: url("/public/sangmin/fonts/TmonFont/TmonMonsori.woff") format("woff");
  src: url("/public/sangmin/fonts/TmonFont/TmonMonsori.ttf") format("truetype"); }
body {
  width: 100%;
  height: 100%;
  position: absolute; }

.mt-1 {
  margin-top: 1px; }

.mb-1 {
  margin-bottom: 1px; }

.ml-1 {
  margin-left: 1px; }

.mr-1 {
  margin-right: 1px; }

.pt-1 {
  padding-top: 1px; }

.pb-1 {
  padding-bottom: 1px; }

.pl-1 {
  padding-left: 1px; }

.pr-1 {
  padding-right: 1px; }

.mt-2 {
  margin-top: 2px; }

.mb-2 {
  margin-bottom: 2px; }

.ml-2 {
  margin-left: 2px; }

.mr-2 {
  margin-right: 2px; }

.pt-2 {
  padding-top: 2px; }

.pb-2 {
  padding-bottom: 2px; }

.pl-2 {
  padding-left: 2px; }

.pr-2 {
  padding-right: 2px; }

.mt-3 {
  margin-top: 3px; }

.mb-3 {
  margin-bottom: 3px; }

.ml-3 {
  margin-left: 3px; }

.mr-3 {
  margin-right: 3px; }

.pt-3 {
  padding-top: 3px; }

.pb-3 {
  padding-bottom: 3px; }

.pl-3 {
  padding-left: 3px; }

.pr-3 {
  padding-right: 3px; }

.mt-4 {
  margin-top: 4px; }

.mb-4 {
  margin-bottom: 4px; }

.ml-4 {
  margin-left: 4px; }

.mr-4 {
  margin-right: 4px; }

.pt-4 {
  padding-top: 4px; }

.pb-4 {
  padding-bottom: 4px; }

.pl-4 {
  padding-left: 4px; }

.pr-4 {
  padding-right: 4px; }

.mt-5 {
  margin-top: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.ml-5 {
  margin-left: 5px; }

.mr-5 {
  margin-right: 5px; }

.pt-5 {
  padding-top: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.pl-5 {
  padding-left: 5px; }

.pr-5 {
  padding-right: 5px; }

.mt-6 {
  margin-top: 6px; }

.mb-6 {
  margin-bottom: 6px; }

.ml-6 {
  margin-left: 6px; }

.mr-6 {
  margin-right: 6px; }

.pt-6 {
  padding-top: 6px; }

.pb-6 {
  padding-bottom: 6px; }

.pl-6 {
  padding-left: 6px; }

.pr-6 {
  padding-right: 6px; }

.mt-7 {
  margin-top: 7px; }

.mb-7 {
  margin-bottom: 7px; }

.ml-7 {
  margin-left: 7px; }

.mr-7 {
  margin-right: 7px; }

.pt-7 {
  padding-top: 7px; }

.pb-7 {
  padding-bottom: 7px; }

.pl-7 {
  padding-left: 7px; }

.pr-7 {
  padding-right: 7px; }

.mt-8 {
  margin-top: 8px; }

.mb-8 {
  margin-bottom: 8px; }

.ml-8 {
  margin-left: 8px; }

.mr-8 {
  margin-right: 8px; }

.pt-8 {
  padding-top: 8px; }

.pb-8 {
  padding-bottom: 8px; }

.pl-8 {
  padding-left: 8px; }

.pr-8 {
  padding-right: 8px; }

.mt-9 {
  margin-top: 9px; }

.mb-9 {
  margin-bottom: 9px; }

.ml-9 {
  margin-left: 9px; }

.mr-9 {
  margin-right: 9px; }

.pt-9 {
  padding-top: 9px; }

.pb-9 {
  padding-bottom: 9px; }

.pl-9 {
  padding-left: 9px; }

.pr-9 {
  padding-right: 9px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mr-10 {
  margin-right: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }

.pr-10 {
  padding-right: 10px; }

.mt-11 {
  margin-top: 11px; }

.mb-11 {
  margin-bottom: 11px; }

.ml-11 {
  margin-left: 11px; }

.mr-11 {
  margin-right: 11px; }

.pt-11 {
  padding-top: 11px; }

.pb-11 {
  padding-bottom: 11px; }

.pl-11 {
  padding-left: 11px; }

.pr-11 {
  padding-right: 11px; }

.mt-12 {
  margin-top: 12px; }

.mb-12 {
  margin-bottom: 12px; }

.ml-12 {
  margin-left: 12px; }

.mr-12 {
  margin-right: 12px; }

.pt-12 {
  padding-top: 12px; }

.pb-12 {
  padding-bottom: 12px; }

.pl-12 {
  padding-left: 12px; }

.pr-12 {
  padding-right: 12px; }

.mt-13 {
  margin-top: 13px; }

.mb-13 {
  margin-bottom: 13px; }

.ml-13 {
  margin-left: 13px; }

.mr-13 {
  margin-right: 13px; }

.pt-13 {
  padding-top: 13px; }

.pb-13 {
  padding-bottom: 13px; }

.pl-13 {
  padding-left: 13px; }

.pr-13 {
  padding-right: 13px; }

.mt-14 {
  margin-top: 14px; }

.mb-14 {
  margin-bottom: 14px; }

.ml-14 {
  margin-left: 14px; }

.mr-14 {
  margin-right: 14px; }

.pt-14 {
  padding-top: 14px; }

.pb-14 {
  padding-bottom: 14px; }

.pl-14 {
  padding-left: 14px; }

.pr-14 {
  padding-right: 14px; }

.mt-15 {
  margin-top: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.ml-15 {
  margin-left: 15px; }

.mr-15 {
  margin-right: 15px; }

.pt-15 {
  padding-top: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pl-15 {
  padding-left: 15px; }

.pr-15 {
  padding-right: 15px; }

.mt-16 {
  margin-top: 16px; }

.mb-16 {
  margin-bottom: 16px; }

.ml-16 {
  margin-left: 16px; }

.mr-16 {
  margin-right: 16px; }

.pt-16 {
  padding-top: 16px; }

.pb-16 {
  padding-bottom: 16px; }

.pl-16 {
  padding-left: 16px; }

.pr-16 {
  padding-right: 16px; }

.mt-17 {
  margin-top: 17px; }

.mb-17 {
  margin-bottom: 17px; }

.ml-17 {
  margin-left: 17px; }

.mr-17 {
  margin-right: 17px; }

.pt-17 {
  padding-top: 17px; }

.pb-17 {
  padding-bottom: 17px; }

.pl-17 {
  padding-left: 17px; }

.pr-17 {
  padding-right: 17px; }

.mt-18 {
  margin-top: 18px; }

.mb-18 {
  margin-bottom: 18px; }

.ml-18 {
  margin-left: 18px; }

.mr-18 {
  margin-right: 18px; }

.pt-18 {
  padding-top: 18px; }

.pb-18 {
  padding-bottom: 18px; }

.pl-18 {
  padding-left: 18px; }

.pr-18 {
  padding-right: 18px; }

.mt-19 {
  margin-top: 19px; }

.mb-19 {
  margin-bottom: 19px; }

.ml-19 {
  margin-left: 19px; }

.mr-19 {
  margin-right: 19px; }

.pt-19 {
  padding-top: 19px; }

.pb-19 {
  padding-bottom: 19px; }

.pl-19 {
  padding-left: 19px; }

.pr-19 {
  padding-right: 19px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.mr-20 {
  margin-right: 20px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.pl-20 {
  padding-left: 20px; }

.pr-20 {
  padding-right: 20px; }

.mt-21 {
  margin-top: 21px; }

.mb-21 {
  margin-bottom: 21px; }

.ml-21 {
  margin-left: 21px; }

.mr-21 {
  margin-right: 21px; }

.pt-21 {
  padding-top: 21px; }

.pb-21 {
  padding-bottom: 21px; }

.pl-21 {
  padding-left: 21px; }

.pr-21 {
  padding-right: 21px; }

.mt-22 {
  margin-top: 22px; }

.mb-22 {
  margin-bottom: 22px; }

.ml-22 {
  margin-left: 22px; }

.mr-22 {
  margin-right: 22px; }

.pt-22 {
  padding-top: 22px; }

.pb-22 {
  padding-bottom: 22px; }

.pl-22 {
  padding-left: 22px; }

.pr-22 {
  padding-right: 22px; }

.mt-23 {
  margin-top: 23px; }

.mb-23 {
  margin-bottom: 23px; }

.ml-23 {
  margin-left: 23px; }

.mr-23 {
  margin-right: 23px; }

.pt-23 {
  padding-top: 23px; }

.pb-23 {
  padding-bottom: 23px; }

.pl-23 {
  padding-left: 23px; }

.pr-23 {
  padding-right: 23px; }

.mt-24 {
  margin-top: 24px; }

.mb-24 {
  margin-bottom: 24px; }

.ml-24 {
  margin-left: 24px; }

.mr-24 {
  margin-right: 24px; }

.pt-24 {
  padding-top: 24px; }

.pb-24 {
  padding-bottom: 24px; }

.pl-24 {
  padding-left: 24px; }

.pr-24 {
  padding-right: 24px; }

.mt-25 {
  margin-top: 25px; }

.mb-25 {
  margin-bottom: 25px; }

.ml-25 {
  margin-left: 25px; }

.mr-25 {
  margin-right: 25px; }

.pt-25 {
  padding-top: 25px; }

.pb-25 {
  padding-bottom: 25px; }

.pl-25 {
  padding-left: 25px; }

.pr-25 {
  padding-right: 25px; }

.mt-26 {
  margin-top: 26px; }

.mb-26 {
  margin-bottom: 26px; }

.ml-26 {
  margin-left: 26px; }

.mr-26 {
  margin-right: 26px; }

.pt-26 {
  padding-top: 26px; }

.pb-26 {
  padding-bottom: 26px; }

.pl-26 {
  padding-left: 26px; }

.pr-26 {
  padding-right: 26px; }

.mt-27 {
  margin-top: 27px; }

.mb-27 {
  margin-bottom: 27px; }

.ml-27 {
  margin-left: 27px; }

.mr-27 {
  margin-right: 27px; }

.pt-27 {
  padding-top: 27px; }

.pb-27 {
  padding-bottom: 27px; }

.pl-27 {
  padding-left: 27px; }

.pr-27 {
  padding-right: 27px; }

.mt-28 {
  margin-top: 28px; }

.mb-28 {
  margin-bottom: 28px; }

.ml-28 {
  margin-left: 28px; }

.mr-28 {
  margin-right: 28px; }

.pt-28 {
  padding-top: 28px; }

.pb-28 {
  padding-bottom: 28px; }

.pl-28 {
  padding-left: 28px; }

.pr-28 {
  padding-right: 28px; }

.mt-29 {
  margin-top: 29px; }

.mb-29 {
  margin-bottom: 29px; }

.ml-29 {
  margin-left: 29px; }

.mr-29 {
  margin-right: 29px; }

.pt-29 {
  padding-top: 29px; }

.pb-29 {
  padding-bottom: 29px; }

.pl-29 {
  padding-left: 29px; }

.pr-29 {
  padding-right: 29px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-30 {
  margin-left: 30px; }

.mr-30 {
  margin-right: 30px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pl-30 {
  padding-left: 30px; }

.pr-30 {
  padding-right: 30px; }

.mt-31 {
  margin-top: 31px; }

.mb-31 {
  margin-bottom: 31px; }

.ml-31 {
  margin-left: 31px; }

.mr-31 {
  margin-right: 31px; }

.pt-31 {
  padding-top: 31px; }

.pb-31 {
  padding-bottom: 31px; }

.pl-31 {
  padding-left: 31px; }

.pr-31 {
  padding-right: 31px; }

.mt-32 {
  margin-top: 32px; }

.mb-32 {
  margin-bottom: 32px; }

.ml-32 {
  margin-left: 32px; }

.mr-32 {
  margin-right: 32px; }

.pt-32 {
  padding-top: 32px; }

.pb-32 {
  padding-bottom: 32px; }

.pl-32 {
  padding-left: 32px; }

.pr-32 {
  padding-right: 32px; }

.mt-33 {
  margin-top: 33px; }

.mb-33 {
  margin-bottom: 33px; }

.ml-33 {
  margin-left: 33px; }

.mr-33 {
  margin-right: 33px; }

.pt-33 {
  padding-top: 33px; }

.pb-33 {
  padding-bottom: 33px; }

.pl-33 {
  padding-left: 33px; }

.pr-33 {
  padding-right: 33px; }

.mt-34 {
  margin-top: 34px; }

.mb-34 {
  margin-bottom: 34px; }

.ml-34 {
  margin-left: 34px; }

.mr-34 {
  margin-right: 34px; }

.pt-34 {
  padding-top: 34px; }

.pb-34 {
  padding-bottom: 34px; }

.pl-34 {
  padding-left: 34px; }

.pr-34 {
  padding-right: 34px; }

.mt-35 {
  margin-top: 35px; }

.mb-35 {
  margin-bottom: 35px; }

.ml-35 {
  margin-left: 35px; }

.mr-35 {
  margin-right: 35px; }

.pt-35 {
  padding-top: 35px; }

.pb-35 {
  padding-bottom: 35px; }

.pl-35 {
  padding-left: 35px; }

.pr-35 {
  padding-right: 35px; }

.mt-36 {
  margin-top: 36px; }

.mb-36 {
  margin-bottom: 36px; }

.ml-36 {
  margin-left: 36px; }

.mr-36 {
  margin-right: 36px; }

.pt-36 {
  padding-top: 36px; }

.pb-36 {
  padding-bottom: 36px; }

.pl-36 {
  padding-left: 36px; }

.pr-36 {
  padding-right: 36px; }

.mt-37 {
  margin-top: 37px; }

.mb-37 {
  margin-bottom: 37px; }

.ml-37 {
  margin-left: 37px; }

.mr-37 {
  margin-right: 37px; }

.pt-37 {
  padding-top: 37px; }

.pb-37 {
  padding-bottom: 37px; }

.pl-37 {
  padding-left: 37px; }

.pr-37 {
  padding-right: 37px; }

.mt-38 {
  margin-top: 38px; }

.mb-38 {
  margin-bottom: 38px; }

.ml-38 {
  margin-left: 38px; }

.mr-38 {
  margin-right: 38px; }

.pt-38 {
  padding-top: 38px; }

.pb-38 {
  padding-bottom: 38px; }

.pl-38 {
  padding-left: 38px; }

.pr-38 {
  padding-right: 38px; }

.mt-39 {
  margin-top: 39px; }

.mb-39 {
  margin-bottom: 39px; }

.ml-39 {
  margin-left: 39px; }

.mr-39 {
  margin-right: 39px; }

.pt-39 {
  padding-top: 39px; }

.pb-39 {
  padding-bottom: 39px; }

.pl-39 {
  padding-left: 39px; }

.pr-39 {
  padding-right: 39px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-40 {
  margin-left: 40px; }

.mr-40 {
  margin-right: 40px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.pl-40 {
  padding-left: 40px; }

.pr-40 {
  padding-right: 40px; }

.mt-41 {
  margin-top: 41px; }

.mb-41 {
  margin-bottom: 41px; }

.ml-41 {
  margin-left: 41px; }

.mr-41 {
  margin-right: 41px; }

.pt-41 {
  padding-top: 41px; }

.pb-41 {
  padding-bottom: 41px; }

.pl-41 {
  padding-left: 41px; }

.pr-41 {
  padding-right: 41px; }

.mt-42 {
  margin-top: 42px; }

.mb-42 {
  margin-bottom: 42px; }

.ml-42 {
  margin-left: 42px; }

.mr-42 {
  margin-right: 42px; }

.pt-42 {
  padding-top: 42px; }

.pb-42 {
  padding-bottom: 42px; }

.pl-42 {
  padding-left: 42px; }

.pr-42 {
  padding-right: 42px; }

.mt-43 {
  margin-top: 43px; }

.mb-43 {
  margin-bottom: 43px; }

.ml-43 {
  margin-left: 43px; }

.mr-43 {
  margin-right: 43px; }

.pt-43 {
  padding-top: 43px; }

.pb-43 {
  padding-bottom: 43px; }

.pl-43 {
  padding-left: 43px; }

.pr-43 {
  padding-right: 43px; }

.mt-44 {
  margin-top: 44px; }

.mb-44 {
  margin-bottom: 44px; }

.ml-44 {
  margin-left: 44px; }

.mr-44 {
  margin-right: 44px; }

.pt-44 {
  padding-top: 44px; }

.pb-44 {
  padding-bottom: 44px; }

.pl-44 {
  padding-left: 44px; }

.pr-44 {
  padding-right: 44px; }

.mt-45 {
  margin-top: 45px; }

.mb-45 {
  margin-bottom: 45px; }

.ml-45 {
  margin-left: 45px; }

.mr-45 {
  margin-right: 45px; }

.pt-45 {
  padding-top: 45px; }

.pb-45 {
  padding-bottom: 45px; }

.pl-45 {
  padding-left: 45px; }

.pr-45 {
  padding-right: 45px; }

.mt-46 {
  margin-top: 46px; }

.mb-46 {
  margin-bottom: 46px; }

.ml-46 {
  margin-left: 46px; }

.mr-46 {
  margin-right: 46px; }

.pt-46 {
  padding-top: 46px; }

.pb-46 {
  padding-bottom: 46px; }

.pl-46 {
  padding-left: 46px; }

.pr-46 {
  padding-right: 46px; }

.mt-47 {
  margin-top: 47px; }

.mb-47 {
  margin-bottom: 47px; }

.ml-47 {
  margin-left: 47px; }

.mr-47 {
  margin-right: 47px; }

.pt-47 {
  padding-top: 47px; }

.pb-47 {
  padding-bottom: 47px; }

.pl-47 {
  padding-left: 47px; }

.pr-47 {
  padding-right: 47px; }

.mt-48 {
  margin-top: 48px; }

.mb-48 {
  margin-bottom: 48px; }

.ml-48 {
  margin-left: 48px; }

.mr-48 {
  margin-right: 48px; }

.pt-48 {
  padding-top: 48px; }

.pb-48 {
  padding-bottom: 48px; }

.pl-48 {
  padding-left: 48px; }

.pr-48 {
  padding-right: 48px; }

.mt-49 {
  margin-top: 49px; }

.mb-49 {
  margin-bottom: 49px; }

.ml-49 {
  margin-left: 49px; }

.mr-49 {
  margin-right: 49px; }

.pt-49 {
  padding-top: 49px; }

.pb-49 {
  padding-bottom: 49px; }

.pl-49 {
  padding-left: 49px; }

.pr-49 {
  padding-right: 49px; }

.mt-50 {
  margin-top: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.ml-50 {
  margin-left: 50px; }

.mr-50 {
  margin-right: 50px; }

.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.pl-50 {
  padding-left: 50px; }

.pr-50 {
  padding-right: 50px; }

.mt-51 {
  margin-top: 51px; }

.mb-51 {
  margin-bottom: 51px; }

.ml-51 {
  margin-left: 51px; }

.mr-51 {
  margin-right: 51px; }

.pt-51 {
  padding-top: 51px; }

.pb-51 {
  padding-bottom: 51px; }

.pl-51 {
  padding-left: 51px; }

.pr-51 {
  padding-right: 51px; }

.mt-52 {
  margin-top: 52px; }

.mb-52 {
  margin-bottom: 52px; }

.ml-52 {
  margin-left: 52px; }

.mr-52 {
  margin-right: 52px; }

.pt-52 {
  padding-top: 52px; }

.pb-52 {
  padding-bottom: 52px; }

.pl-52 {
  padding-left: 52px; }

.pr-52 {
  padding-right: 52px; }

.mt-53 {
  margin-top: 53px; }

.mb-53 {
  margin-bottom: 53px; }

.ml-53 {
  margin-left: 53px; }

.mr-53 {
  margin-right: 53px; }

.pt-53 {
  padding-top: 53px; }

.pb-53 {
  padding-bottom: 53px; }

.pl-53 {
  padding-left: 53px; }

.pr-53 {
  padding-right: 53px; }

.mt-54 {
  margin-top: 54px; }

.mb-54 {
  margin-bottom: 54px; }

.ml-54 {
  margin-left: 54px; }

.mr-54 {
  margin-right: 54px; }

.pt-54 {
  padding-top: 54px; }

.pb-54 {
  padding-bottom: 54px; }

.pl-54 {
  padding-left: 54px; }

.pr-54 {
  padding-right: 54px; }

.mt-55 {
  margin-top: 55px; }

.mb-55 {
  margin-bottom: 55px; }

.ml-55 {
  margin-left: 55px; }

.mr-55 {
  margin-right: 55px; }

.pt-55 {
  padding-top: 55px; }

.pb-55 {
  padding-bottom: 55px; }

.pl-55 {
  padding-left: 55px; }

.pr-55 {
  padding-right: 55px; }

.mt-56 {
  margin-top: 56px; }

.mb-56 {
  margin-bottom: 56px; }

.ml-56 {
  margin-left: 56px; }

.mr-56 {
  margin-right: 56px; }

.pt-56 {
  padding-top: 56px; }

.pb-56 {
  padding-bottom: 56px; }

.pl-56 {
  padding-left: 56px; }

.pr-56 {
  padding-right: 56px; }

.mt-57 {
  margin-top: 57px; }

.mb-57 {
  margin-bottom: 57px; }

.ml-57 {
  margin-left: 57px; }

.mr-57 {
  margin-right: 57px; }

.pt-57 {
  padding-top: 57px; }

.pb-57 {
  padding-bottom: 57px; }

.pl-57 {
  padding-left: 57px; }

.pr-57 {
  padding-right: 57px; }

.mt-58 {
  margin-top: 58px; }

.mb-58 {
  margin-bottom: 58px; }

.ml-58 {
  margin-left: 58px; }

.mr-58 {
  margin-right: 58px; }

.pt-58 {
  padding-top: 58px; }

.pb-58 {
  padding-bottom: 58px; }

.pl-58 {
  padding-left: 58px; }

.pr-58 {
  padding-right: 58px; }

.mt-59 {
  margin-top: 59px; }

.mb-59 {
  margin-bottom: 59px; }

.ml-59 {
  margin-left: 59px; }

.mr-59 {
  margin-right: 59px; }

.pt-59 {
  padding-top: 59px; }

.pb-59 {
  padding-bottom: 59px; }

.pl-59 {
  padding-left: 59px; }

.pr-59 {
  padding-right: 59px; }

.mt-60 {
  margin-top: 60px; }

.mb-60 {
  margin-bottom: 60px; }

.ml-60 {
  margin-left: 60px; }

.mr-60 {
  margin-right: 60px; }

.pt-60 {
  padding-top: 60px; }

.pb-60 {
  padding-bottom: 60px; }

.pl-60 {
  padding-left: 60px; }

.pr-60 {
  padding-right: 60px; }

.mt-61 {
  margin-top: 61px; }

.mb-61 {
  margin-bottom: 61px; }

.ml-61 {
  margin-left: 61px; }

.mr-61 {
  margin-right: 61px; }

.pt-61 {
  padding-top: 61px; }

.pb-61 {
  padding-bottom: 61px; }

.pl-61 {
  padding-left: 61px; }

.pr-61 {
  padding-right: 61px; }

.mt-62 {
  margin-top: 62px; }

.mb-62 {
  margin-bottom: 62px; }

.ml-62 {
  margin-left: 62px; }

.mr-62 {
  margin-right: 62px; }

.pt-62 {
  padding-top: 62px; }

.pb-62 {
  padding-bottom: 62px; }

.pl-62 {
  padding-left: 62px; }

.pr-62 {
  padding-right: 62px; }

.mt-63 {
  margin-top: 63px; }

.mb-63 {
  margin-bottom: 63px; }

.ml-63 {
  margin-left: 63px; }

.mr-63 {
  margin-right: 63px; }

.pt-63 {
  padding-top: 63px; }

.pb-63 {
  padding-bottom: 63px; }

.pl-63 {
  padding-left: 63px; }

.pr-63 {
  padding-right: 63px; }

.mt-64 {
  margin-top: 64px; }

.mb-64 {
  margin-bottom: 64px; }

.ml-64 {
  margin-left: 64px; }

.mr-64 {
  margin-right: 64px; }

.pt-64 {
  padding-top: 64px; }

.pb-64 {
  padding-bottom: 64px; }

.pl-64 {
  padding-left: 64px; }

.pr-64 {
  padding-right: 64px; }

.mt-65 {
  margin-top: 65px; }

.mb-65 {
  margin-bottom: 65px; }

.ml-65 {
  margin-left: 65px; }

.mr-65 {
  margin-right: 65px; }

.pt-65 {
  padding-top: 65px; }

.pb-65 {
  padding-bottom: 65px; }

.pl-65 {
  padding-left: 65px; }

.pr-65 {
  padding-right: 65px; }

.mt-66 {
  margin-top: 66px; }

.mb-66 {
  margin-bottom: 66px; }

.ml-66 {
  margin-left: 66px; }

.mr-66 {
  margin-right: 66px; }

.pt-66 {
  padding-top: 66px; }

.pb-66 {
  padding-bottom: 66px; }

.pl-66 {
  padding-left: 66px; }

.pr-66 {
  padding-right: 66px; }

.mt-67 {
  margin-top: 67px; }

.mb-67 {
  margin-bottom: 67px; }

.ml-67 {
  margin-left: 67px; }

.mr-67 {
  margin-right: 67px; }

.pt-67 {
  padding-top: 67px; }

.pb-67 {
  padding-bottom: 67px; }

.pl-67 {
  padding-left: 67px; }

.pr-67 {
  padding-right: 67px; }

.mt-68 {
  margin-top: 68px; }

.mb-68 {
  margin-bottom: 68px; }

.ml-68 {
  margin-left: 68px; }

.mr-68 {
  margin-right: 68px; }

.pt-68 {
  padding-top: 68px; }

.pb-68 {
  padding-bottom: 68px; }

.pl-68 {
  padding-left: 68px; }

.pr-68 {
  padding-right: 68px; }

.mt-69 {
  margin-top: 69px; }

.mb-69 {
  margin-bottom: 69px; }

.ml-69 {
  margin-left: 69px; }

.mr-69 {
  margin-right: 69px; }

.pt-69 {
  padding-top: 69px; }

.pb-69 {
  padding-bottom: 69px; }

.pl-69 {
  padding-left: 69px; }

.pr-69 {
  padding-right: 69px; }

.mt-70 {
  margin-top: 70px; }

.mb-70 {
  margin-bottom: 70px; }

.ml-70 {
  margin-left: 70px; }

.mr-70 {
  margin-right: 70px; }

.pt-70 {
  padding-top: 70px; }

.pb-70 {
  padding-bottom: 70px; }

.pl-70 {
  padding-left: 70px; }

.pr-70 {
  padding-right: 70px; }

.mt-71 {
  margin-top: 71px; }

.mb-71 {
  margin-bottom: 71px; }

.ml-71 {
  margin-left: 71px; }

.mr-71 {
  margin-right: 71px; }

.pt-71 {
  padding-top: 71px; }

.pb-71 {
  padding-bottom: 71px; }

.pl-71 {
  padding-left: 71px; }

.pr-71 {
  padding-right: 71px; }

.mt-72 {
  margin-top: 72px; }

.mb-72 {
  margin-bottom: 72px; }

.ml-72 {
  margin-left: 72px; }

.mr-72 {
  margin-right: 72px; }

.pt-72 {
  padding-top: 72px; }

.pb-72 {
  padding-bottom: 72px; }

.pl-72 {
  padding-left: 72px; }

.pr-72 {
  padding-right: 72px; }

.mt-73 {
  margin-top: 73px; }

.mb-73 {
  margin-bottom: 73px; }

.ml-73 {
  margin-left: 73px; }

.mr-73 {
  margin-right: 73px; }

.pt-73 {
  padding-top: 73px; }

.pb-73 {
  padding-bottom: 73px; }

.pl-73 {
  padding-left: 73px; }

.pr-73 {
  padding-right: 73px; }

.mt-74 {
  margin-top: 74px; }

.mb-74 {
  margin-bottom: 74px; }

.ml-74 {
  margin-left: 74px; }

.mr-74 {
  margin-right: 74px; }

.pt-74 {
  padding-top: 74px; }

.pb-74 {
  padding-bottom: 74px; }

.pl-74 {
  padding-left: 74px; }

.pr-74 {
  padding-right: 74px; }

.mt-75 {
  margin-top: 75px; }

.mb-75 {
  margin-bottom: 75px; }

.ml-75 {
  margin-left: 75px; }

.mr-75 {
  margin-right: 75px; }

.pt-75 {
  padding-top: 75px; }

.pb-75 {
  padding-bottom: 75px; }

.pl-75 {
  padding-left: 75px; }

.pr-75 {
  padding-right: 75px; }

.mt-76 {
  margin-top: 76px; }

.mb-76 {
  margin-bottom: 76px; }

.ml-76 {
  margin-left: 76px; }

.mr-76 {
  margin-right: 76px; }

.pt-76 {
  padding-top: 76px; }

.pb-76 {
  padding-bottom: 76px; }

.pl-76 {
  padding-left: 76px; }

.pr-76 {
  padding-right: 76px; }

.mt-77 {
  margin-top: 77px; }

.mb-77 {
  margin-bottom: 77px; }

.ml-77 {
  margin-left: 77px; }

.mr-77 {
  margin-right: 77px; }

.pt-77 {
  padding-top: 77px; }

.pb-77 {
  padding-bottom: 77px; }

.pl-77 {
  padding-left: 77px; }

.pr-77 {
  padding-right: 77px; }

.mt-78 {
  margin-top: 78px; }

.mb-78 {
  margin-bottom: 78px; }

.ml-78 {
  margin-left: 78px; }

.mr-78 {
  margin-right: 78px; }

.pt-78 {
  padding-top: 78px; }

.pb-78 {
  padding-bottom: 78px; }

.pl-78 {
  padding-left: 78px; }

.pr-78 {
  padding-right: 78px; }

.mt-79 {
  margin-top: 79px; }

.mb-79 {
  margin-bottom: 79px; }

.ml-79 {
  margin-left: 79px; }

.mr-79 {
  margin-right: 79px; }

.pt-79 {
  padding-top: 79px; }

.pb-79 {
  padding-bottom: 79px; }

.pl-79 {
  padding-left: 79px; }

.pr-79 {
  padding-right: 79px; }

.mt-80 {
  margin-top: 80px; }

.mb-80 {
  margin-bottom: 80px; }

.ml-80 {
  margin-left: 80px; }

.mr-80 {
  margin-right: 80px; }

.pt-80 {
  padding-top: 80px; }

.pb-80 {
  padding-bottom: 80px; }

.pl-80 {
  padding-left: 80px; }

.pr-80 {
  padding-right: 80px; }

#section1 .carousel {
  width: 100%;
  height: 100%;
  position: relative; }
  #section1 .carousel .carousel-indicators {
    margin: 0 !important;
    position: absolute;
    height: 30%;
    bottom: 40% !important;
    left: 95% !important;
    z-index: 9999; }
    #section1 .carousel .carousel-indicators li {
      border-radius: 50%;
      width: 12px;
      height: 12px;
      padding: 0;
      margin: 10px 0;
      background-color: #5f7a90; }
    #section1 .carousel .carousel-indicators li.active {
      background-color: transparent;
      padding: 10px;
      border: 2px solid white; }
  #section1 .carousel .carousel-inner {
    height: 100%;
    width: 100%;
    /*		.carousel-item:nth-child(1) {
    	background-image: url('/public/sangmin/img/background/bg1.jpg');
    }
    .carousel-item:nth-child(2) {
    	background-image: url('/public/sangmin/img/background/bg2.jpg');
    }
    .carousel-itemdiv:nth-child(3) {
    	background-image: url('/public/sangmin/img/background/bg3.jpg');
    }*/ }
    #section1 .carousel .carousel-inner .carousel-item {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 30px;
      background-size: cover;
      background-position: center; }
      @media (min-width: 992px) {
        #section1 .carousel .carousel-inner .carousel-item {
          padding: 80px; } }
      #section1 .carousel .carousel-inner .carousel-item .content-box {
        position: relative;
        width: 100%;
        height: 100%;
        color: white; }
        #section1 .carousel .carousel-inner .carousel-item .content-box .title h1 {
          font-family: 'TmonMonsori';
          font-size: 4rem;
          margin-bottom: 20px; }
        #section1 .carousel .carousel-inner .carousel-item .content-box .title p {
          margin-bottom: 20px; }
        #section1 .carousel .carousel-inner .carousel-item .content-box .content p {
          max-width: 500px;
          margin-bottom: 20px; }
        #section1 .carousel .carousel-inner .carousel-item .content-box .btn-box button {
          padding: 10px;
          border: 1px solid white;
          background-color: transparent;
          color: white; }
#section1 #scroll-alert {
  position: absolute;
  bottom: 5%;
  text-align: center;
  width: 50%;
  left: 25%;
  color: white; }
  #section1 #scroll-alert > * {
    margin-bottom: 10px; }
#section1 #sns-box {
  position: absolute;
  bottom: 7%;
  width: 15%;
  left: 84%;
  max-width: 200px;
  min-width: 100px;
  color: white; }

body > .main-section {
  width: 100%;
  height: 100%;
  position: relative; }

#detail-header {
  color: white;
  padding: 0 !important;
  z-index: 1;
  position: relative;
  background-image: url("../img/background/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-width: 100%;
  background-height: auto;
  background-position: center center; }
  #detail-header #header-nav {
    padding: 30px 15px; }
    @media (min-width: 992px) {
      #detail-header #header-nav {
        padding: 50px; } }
    #detail-header #header-nav .splice {
      content: '';
      height: 15px;
      margin: 0 20px;
      border-right: 2px solid white; }
    #detail-header #header-nav * {
      color: white;
      text-decoration: none;
      font-family: 'Noto Sans', sans-serif; }
    #detail-header #header-nav #nav-search i {
      margin-right: 6px; }
    #detail-header #header-nav #nav-search input {
      font-size: 14px;
      min-width: 380px;
      background-color: inherit !important;
      border: 0; }
      #detail-header #header-nav #nav-search input:focus {
        outline: 0; }
    #detail-header #header-nav #nav-meun {
      font-size: 14px; }
      #detail-header #header-nav #nav-meun i {
        margin-right: 10px; }
      #detail-header #header-nav #nav-meun span {
        min-width: 30px; }
  #detail-header article {
    padding: 15px;
    	/*    #chart {
            width: 22%;
            height: 400px;
        }*/ }
    #detail-header article #slide-box #slide-img {
      width: 100%; }
      #detail-header article #slide-box #slide-img img {
        width: inherit; }
    #detail-header article #slide-box #slide-list ul {
      width: 80%; }
      #detail-header article #slide-box #slide-list ul li {
        width: 30%;
        margin: 5px;
        position: relative; }
        #detail-header article #slide-box #slide-list ul li img {
          width: 100%; }
    #detail-header article #detail {
      position: relative;
      box-sizing: border-box;
      margin-top: 25px;
      line-height: 1.2; }
      @media (min-width: 768px) {
        #detail-header article #detail {
          margin-top: 0px;
          padding-left: 10px;
          margin-bottom: 10%; } }
      #detail-header article #detail #regine {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1rem; }
      #detail-header article #detail #title {
        margin-top: 12px;
        margin-right: 50px;
        font-family: 'TmonMonsori';
        font-size: 3rem; }
        @media (min-width: 992px) {
          #detail-header article #detail #title {
            padding: 10px; } }
      #detail-header article #detail #content {
        margin-top: 30px;
        font-size: 14px;
        line-height: 1.6;
        font-family: 'Noto Sans', sans-serif; }
        #detail-header article #detail #content #sub-title {
          color: #fdd931; }
      #detail-header article #detail #score {
        position: absolute;
        right: 3%;
        top: 10%; }
        #detail-header article #detail #score i {
          color: #fcbf3f; }
        @media (min-width: 768px) {
          #detail-header article #detail #score {
            top: 0; } }
  #detail-header #book-box {
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid #e6e6e6;
    position: relative; }
    @media (min-width: 768px) {
      #detail-header #book-box {
        position: absolute;
        right: 0;
        top: 88%; } }
    #detail-header #book-box #personnel {
      background-color: #79b754;
      padding: 10px; }
      #detail-header #book-box #personnel h1 {
        display: block; }
      #detail-header #book-box #personnel #count {
        font-size: 2rem; }
      #detail-header #book-box #personnel #icon-box {
        position: relative;
        min-width: 15px; }
        #detail-header #book-box #personnel #icon-box span {
          font-size: 1.4rem;
          position: absolute; }
          #detail-header #book-box #personnel #icon-box span:nth-child(1) {
            top: 2px; }
          #detail-header #book-box #personnel #icon-box span:nth-child(2) {
            bottom: -4px; }
          #detail-header #book-box #personnel #icon-box span i {
            cursor: pointer; }
    #detail-header #book-box #dateBox {
      padding: 20px;
      background-color: black; }
      #detail-header #book-box #dateBox .form-group {
        background-color: white;
        color: black;
        width: 45%; }
        #detail-header #book-box #dateBox .form-group input {
          box-sizing: border-box;
          padding: 5px;
          width: 80%;
          border: 0;
          height: 30px; }
          #detail-header #book-box #dateBox .form-group input:focus {
            outline: 0; }
    #detail-header #book-box #info {
      background-color: #fff;
      padding: 20px;
      color: #5e5e5e;
      font-family: 'Noto Sans', sans-serif;
      font-size: 1em; }
      #detail-header #book-box #info li {
        margin-bottom: 10px;
        box-sizing: border-box; }
        #detail-header #book-box #info li i {
          color: #fdd931; }
    #detail-header #book-box #price h3 {
      color: #fdd931; }
    #detail-header #book-box #price p {
      font-size: 2.3rem; }
  #detail-header::after {
    content: '';
    z-index: -1;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.8);
    width: 100%; }

#detail-article {
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  box-sizing: border-box; }
  #detail-article section {
    margin-top: 80px;
    color: #4d4d4d;
    position: relative; }
    @media (min-width: 768px) {
      #detail-article section {
        padding-left: 40px; } }
    #detail-article section .title-box {
      padding: 30px 0;
      position: absolute; }
      #detail-article section .title-box:after {
        top: 0;
        content: '';
        display: inline-block;
        position: absolute;
        width: 50px;
        height: 100%;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9; }
      #detail-article section .title-box span {
        color: #efb42a;
        font-size: 1.5rem; }
      #detail-article section .title-box h1 {
        font-family: 'Noto Sans', sans-serif;
        color: #4d4d4d;
        font-size: 0.8rem;
        font-weight: bold; }
    #detail-article section .list-content {
      margin-left: 10%; }
      #detail-article section .list-content ul {
        padding-left: 30px; }
        #detail-article section .list-content ul li {
          color: #4d4d4d;
          padding-top: 10px;
          height: 100px;
          width: 33%; }
          @media (min-width: 960px) {
            #detail-article section .list-content ul li {
              width: 25%; } }
          #detail-article section .list-content ul li span {
            font-size: 0.8rem;
            color: #bbbcbd; }
          #detail-article section .list-content ul li p {
            font-size: 1.2rem; }
    #detail-article section #section-5-list-content {
      margin-left: 10%; }
      #detail-article section #section-5-list-content ul li p {
        font-size: 0.8rem;
        padding-top: 12px;
        color: #aeaeaf; }
        #detail-article section #section-5-list-content ul li p:hover {
          color: #4d4d4d; }
        #detail-article section #section-5-list-content ul li p:hover:before {
          content: ''; }
        #detail-article section #section-5-list-content ul li p:before {
          content: '*';
          font-size: 0.3rem;
          margin-right: 1px; }
  #detail-article #section-map {
    margin-top: 95px;
    width: 100%;
    padding-left: 0;
    height: 400px;
    background-color: #4d4d4d; }

#section-review {
  position: relative;
  width: 100%;
  margin-top: 95px; }
  #section-review .review-warning-text {
    width: 100%;
    position: relative; }
    #section-review .review-warning-text > div {
      box-sizing: padding-box;
      padding: 0 4%;
      border: 1px solid #e6e6e6; }
      #section-review .review-warning-text > div span {
        font-size: 1.3rem;
        color: #efb42a; }
      #section-review .review-warning-text > div p {
        font-size: 0.8rem;
        text-align: center; }
  #section-review #review-box {
    font-size: 0.8rem;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-top: 70px; }
    #section-review #review-box .review {
      padding: 20px;
      background-color: #fcfcfc;
      border: 1px solid #e6e6e6;
      color: #bbbfc1;
      border-radius: 8px;
      width: 95%;
      margin: 10px auto; }
      #section-review #review-box .review .profile p {
        font-size: 0.7rem;
        color: #c3c9ce; }
        #section-review #review-box .review .profile p span {
          color: #32a8ef; }
      #section-review #review-box .review .content,
      #section-review #review-box .review .score,
      #section-review #review-box .review .date {
        padding-left: 10%; }
      #section-review #review-box .review .content {
        color: #868e93;
        line-height: 1.5; }
      #section-review #review-box .review .score > p {
        margin-right: 10%;
        font-size: 4rem;
        font-weight: 100;
        color: #1ba545; }
      #section-review #review-box .review .score ul {
        width: 60%; }
        #section-review #review-box .review .score ul li {
          height: 35px; }
          #section-review #review-box .review .score ul li .line {
            box-sizing: border-box;
            margin: 0 20px;
            flex-grow: 1;
            border-bottom: 1px solid #bbbfc1; }
  #section-review #all {
    margin: 60px auto 80px auto;
    position: relative;
    width: 25%;
    border-top: 1px solid #ebebeb; }
    #section-review #all #circle {
      cursor: pointer;
      margin-top: 40px;
      min-width: 100px;
      min-height: 100px;
      border: 1px solid #ebebeb;
      border-radius: 50%; }
      #section-review #all #circle:before {
        position: absolute;
        content: '';
        display: block;
        height: 40px;
        top: 0;
        border-right: 1px solid #ebebeb; }
      #section-review #all #circle span {
        color: #99a0a4;
        font-size: 0.8rem; }

.panel-header nav {
  background-color: #202020 !important; }
.panel-header #toggle {
  background-color: #79b754 !important; }

#sub-article {
  margin-top: 100px;
  width: 100%;
  font-family: 'Noto Sans', sans-serif; }
  #sub-article #panel-title {
    font-size: 1.6rem; }
    @media (min-width: 767px) {
      #sub-article #panel-title {
        font-size: 2rem;
        font-weight: bold;
        margin: 40px; } }
    #sub-article #panel-title span {
      color: #a3cc8e;
      display: inline-block; }
      #sub-article #panel-title span::before {
        content: '';
        position: relative;
        top: 0;
        left: 1%;
        display: block;
        width: 15%;
        margin-bottom: 8px;
        border-top: 3px solid black; }
  #sub-article section#panel-section {
    position: relative;
    padding: 80px 0; }
    #sub-article section#panel-section article#panel-box {
      position: static;
      max-width: 960px;
      margin: 0 auto; }
      #sub-article section#panel-section article#panel-box::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 30px;
        border-bottom: 2px solid #e1e4e6; }
      #sub-article section#panel-section article#panel-box .panel {
        margin-bottom: 40px; }
        @media (min-width: 992px) {
          #sub-article section#panel-section article#panel-box .panel {
            max-width: 20%; } }
        #sub-article section#panel-section article#panel-box .panel .panel-content {
          width: 140px;
          overflow: hidden;
          margin-top: 20px; }
          #sub-article section#panel-section article#panel-box .panel .panel-content p {
            margin-bottom: 10px; }
          #sub-article section#panel-section article#panel-box .panel .panel-content .intro {
            font-size: 0.8rem;
            color: #c5c5c5;
            white-space: normal;
            line-height: 2;
            text-align: left;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical; }
  #sub-article .pagination a {
    margin: 10px;
    font-weight: bold;
    font-size: 0.8rem;
    color: #c5c5c5;
    text-decoration: none; }
    #sub-article .pagination a:hover {
      color: black; }
  #sub-article .pagination li.current a {
    color: black; }
  #sub-article section#content-boxs {
    margin: 0 auto 60px;
    margin-top: 30px;
    max-width: 960px; }
    #sub-article section#content-boxs .content-box {
      box-sizing: border-box;
      line-height: 2;
      position: relative;
      padding: 45px 0; }
      #sub-article section#content-boxs .content-box:not(:first-child) {
        border-top: 2px solid #e1e4e6; }
      #sub-article section#content-boxs .content-box > * {
        margin: 13px 0; }
      #sub-article section#content-boxs .content-box h1 {
        font-weight: bold;
        font-size: 2rem;
        font-family: 'Noto Sans', sans-serif; }
      #sub-article section#content-boxs .content-box p {
        font-size: 1rem; }
      #sub-article section#content-boxs .content-box .content {
        overflow: hidden; }
        #sub-article section#content-boxs .content-box .content p {
          white-space: normal;
          line-height: 2;
          text-align: left;
          word-wrap: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical; }
          @media (min-width: 992px) {
            #sub-article section#content-boxs .content-box .content p {
              display: block; } }
      #sub-article section#content-boxs .content-box .date {
        font-size: 1rem;
        color: #8b9194; }

#header {
  position: absolute; }
  #header nav {
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: transparent;
    min-height: 60px;
    top: 0;
    left: 0;
    z-index: 9999;
    color: white; }
  #header nav#sm-nav #nav-icon-box {
    padding-right: 16px; }
    #header nav#sm-nav #nav-icon-box div:not(:last-child)::after {
      content: '|';
      display: inline-block;
      margin: 0 20px; }
  #header nav#sm-nav #toggle {
    max-width: 60px;
    position: relative;
    right: 0;
    background-color: transparent; }
    #header nav#sm-nav #toggle i {
      cursor: pointer;
      padding: 5px; }
  #header nav#md-nav {
    font-size: 0.8rem; }
    #header nav#md-nav .xi {
      font-size: 1.2rem; }
    #header nav#md-nav #logo {
      padding-left: 15px; }
      @media (min-width: 576px) and (max-width: 991px) {
        #header nav#md-nav #logo figure::after {
          content: '|';
          display: inline-block;
          margin: 0 20px; } }
      @media (min-width: 992px) {
        #header nav#md-nav #logo figure {
          margin-right: 20px; } }
      #header nav#md-nav #logo #search {
        width: 100%; }
        #header nav#md-nav #logo #search input {
          width: 100%;
          background-color: inherit;
          border: 0;
          outline: 0;
          color: white;
          padding-left: 10px; }
          #header nav#md-nav #logo #search input::placeholder {
            color: white; }
    #header nav#md-nav #nav-icon-box {
      padding-right: 16px; }
      #header nav#md-nav #nav-icon-box div {
        cursor: pointer; }
      #header nav#md-nav #nav-icon-box div:not(:last-child)::after {
        content: '|';
        display: inline-block;
        margin: 0 20px; }
      #header nav#md-nav #nav-icon-box p {
        margin-left: 10px; }
    #header nav#md-nav #toggle {
      position: relative;
      right: 0;
      background-color: transparent; }
      #header nav#md-nav #toggle i {
        cursor: pointer;
        padding: 5px; }
      #header nav#md-nav #toggle p {
        font-weight: 600;
        font-size: 1.3rem;
        padding-right: 15px;
        text-align: right; }

#main-footer {
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 50px 0px 50px 50px; }
  #main-footer ul {
    margin-right: 60px; }
    #main-footer ul .title {
      padding: 10px 0;
      height: 50px;
      color: #ababab;
      font-size: bold;
      font-size: 1.1rem; }
    #main-footer ul li {
      display: flex;
      height: 30px;
      color: #b5b5b5;
      font-size: 0.9rem; }
      #main-footer ul li a {
        text-decoration: none;
        color: inherit; }
      #main-footer ul li span {
        color: #ababab;
        font-weight: bolder;
        margin-right: 10px; }
      #main-footer ul li > input {
        padding: 15px;
        width: 100%; }
  #main-footer > p {
    font-size: 0.8rem;
    color: #b5b5b5; }
  #main-footer strong {
    color: #ababab;
    font-weight: bolder; }

/*# sourceMappingURL=main.css.map */
