@import 'header';

.tp-black-bg-header {
  @extend #tp-header;
  z-index: 1000;
  position: fixed !important;
  nav {
	top: 0;
	position: fixed;
	background-color: $panel-nav-bg !important;
  }
  .tp-toggle {
	background-color: $panel-nav-toggle-bg !important;
  }
}
