@charset "utf-8";
#header {
	position: absolute;
	nav {
		width: inherit;
		height: 80px;
		position: absolute;
		background-color: transparent;
		top: 0;
		left: 0;
		color: white;
		z-index: 9999;

	}
	nav#sm-nav {
		//모바일 경우
		#nav-icon-box {
			padding-right: 16px;
			div:not(:last-child) {
				&::after {
					content: '|';
					display: inline-block;
					margin: 0 20px;
				}
			}
		}
		.toggle {
			cursor: pointer;
			max-width: 80px !important;
			position: relative;
			right: 0;
			background-color: transparent;
			i {
				cursor: pointer;
				padding: 5px;
			}
		}
	}
	nav#md-nav {
		//테블릿 부터
		font-size: 0.8rem;
		.xi {
			font-size: 1.2rem;
		}
		#logo {
			padding-left: 15px;
				figure::after {
					content: '';
					display: inline-block;
					height: 15px;
					border-left: 2px solid white;
					margin: 0 20px;
				}
			#search {
				i{
					font-size: 1rem;
				}
				width: 100%;
				input {
					width: 100%;
					background-color: inherit;
					border: 0;
					font-size: 14px;
					opacity: 0.4;
					outline: 0;
					color: white;
					padding-left: 10px;
					&::placeholder {
						color: white;
					}
				}
			}
		}

		#nav-icon-box {
			padding-right: 16px;
			div {
				cursor: pointer;
			}
			div:not(:last-child) {
				&::after {
					content: '|';
					display: inline-block;
					margin: 0 20px;
				}
			}

			p {
				margin-left: 10px;
			}
		}
		.toggle {
			cursor: pointer;
			position: relative;
			right: 0;
			max-width: 80px;
			@media (min-width: 992px) {
				max-width:320px; }
			background-color: transparent;
			i {
				cursor: pointer;
				padding: 5px;
			}
			p {
				font-weight: 600;
				font-size: 1.3rem;
				padding-right: 15px;
				text-align: right;
			}
		}
	}
}
