@charset "utf-8";

#header {
	position: absolute;

	nav {
		width: inherit;
		height: 80px;
		position: absolute;
		background-color: transparent;
		top: 0;
		left: 0;
		color: white;
		z-index: 9999;
	}

	nav#sm-nav {
		//모바일 경우
		#nav-icon-box {
			padding-right: 16px;

			div:not(:last-child) {
				&::after {
					content: '|';
					display: inline-block;
					margin: 0 20px;
				}
			}
		}

		.toggle {
			cursor: pointer;
			max-width: 80px !important;
			position: relative;
			right: 0;
			background-color: transparent;

			i {
				cursor: pointer;
				padding: 5px;
			}
		}
	}

	nav#md-nav {
		//테블릿 부터
		font-size: 0.8rem;

		.xi {
			font-size: 1.2rem;
		}

		#logo {
			padding-left: 15px;

			figure::after {
				content: '';
				display: inline-block;
				height: 15px;
				border-left: 2px solid white;
				margin: 0 20px;
			}

			.search-container {
				padding: 10px;
				width: 100%;

				i {
					font-size: 1rem;
				}

				input {
					width: 100%;
					background-color: inherit;
					border: 0;
					font-size: 14px;
					opacity: 0.4;
					outline: 0;
					color: white;
					padding-left: 5px;

					&::placeholder {
						color: white;
					}
				}
			}

			.search-container.focus {
				//input 포커스 됐을때
				background: white;

				i,
				input,
				input::placeholder {
					font-weight: bold;
					color: #4b4b4b;
				}
			}
		}

		#nav-icon-box {
			padding-right: 16px;

			div {
				cursor: pointer;
			}

			div:not(:last-child) {
				&::after {
					content: '|';
					display: inline-block;
					margin: 0 20px;
				}
			}

			p {
				margin-left: 10px;
			}
		}

		.toggle {
			cursor: pointer;
			position: relative;
			right: 0;
			max-width: 80px;
			@media (min-width: 992px) {
				max-width: 320px;
			}
			background-color: transparent;

			i {
				cursor: pointer;
				padding: 5px;
			}

			p {
				font-weight: 600;
				font-size: 1.3rem;
				padding-right: 15px;
				text-align: right;
			}
		}
	}

	.search-content-container {
		display: none;
		background-color: white;
		left: 0;
		width: 70%;
		max-width: 800px;
		min-width: 500px;
		top: 65px;
		color: #bbbcbd;
		min-height: 100px;
		border-radius: 5px;

		&::before {
			content: '';
			min-width: 15px;
			left: 35px;
			top: -7.5px;
			min-height: 15px;
			transform: rotate(45deg);
			position: absolute;
			background-color: white;
		}

		p {
			font-family: 'notokr-medium';
			//NOTE <p> 검색결과/총 ~~개
			padding: 20px;
			margin: 0;
			color: #bbbcbd;
			border-bottom: 1px solid #d9d9d9;

			span {
				font-family: 'notokr-regular';
			}
		}

		.search-items {
			padding: 10px;
			height: 330px;
			overflow-y: scroll;

			.search-item {
				box-sizing: border-box;
				width: 100%;
				height: 90px;
				overflow: hidden;
				padding-bottom: 10px;
				border-bottom: 1px solid #d9d9d9;

				&:not(:first-child) {
					padding-top: 10px;
				}

				.image {
					width: 15%;

					img {
						max-width: 50px;
						max-height: 50px;
						min-width: 45px;
						min-height: 45px;
					}
				}

				.content {
					width: 85%;
					font-size: 16px;

					.title {
						font-family: 'notokr-medium';
						color: #4b4b4b;
						font-size: 20px;
						margin-bottom: 5px;

						.score-icon {
							i {
								color: #fcbf3f !important;
							}
						}

						.score-text {
							font-size: 12px;
						}
					}

					.article {
						height: 40px;
						overflow: hidden;
						font-size: 14px;
						color: #4b4b4b;
						white-space: normal;
						line-height: 1.5;
						text-align: left;
						word-wrap: break-word;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
}
