#sub-article {
	margin-top: 100px;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
	#panel-title {
		font-size: 1.6rem;
		@media(min-width: 767px) {
			font-size: 2rem;
			font-weight: bold;
			margin: 40px;
		}
		span {
			color: #a3cc8e;
			display: inline-block;
			&::before {
				content: '';
				position: relative;
				top: 0;
				left: 1%;
				display: block;
				width: 15%;
				margin-bottom: 8px;
				border-top: 3px solid black;
			}
		}
	}
	section#panel-section {
		position: relative;
		padding: 80px 0;
		article#panel-box {
			position: static;
			max-width: 960px;
			margin: 0 auto;
			&::after {
				position: absolute;
				content: '';
				display: block;
				width: 100%;
				left: 0;
				bottom: 0;
				padding: 30px;
				border-bottom: 2px solid #e1e4e6;
			}
			.panel {
				margin-bottom: 40px;
				@media (min-width: 992px) {
					max-width: 20%;
				}
				.panel-content {
					width: 140px;
					overflow: hidden;
					margin-top: 20px;
					p {
						margin-bottom: 10px;
					}
					.intro {
						font-size: 0.8rem;
						color: #c5c5c5;
						white-space: normal;
						line-height: 2;
						text-align: left;
						word-wrap: break-word;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
	.pagination {
		a {
			margin: 10px;
			font-weight: bold;
			font-size: 0.8rem;
			color: #c5c5c5;
			text-decoration: none;
			&:hover {
				color: black;
			}
		}
		li.current {
			a {
				color: black;
			}
		}
	}
	section#content-boxs {
		margin: 0 auto 60px;
		margin-top: 30px;
		max-width: 960px;
		.content-box {
			box-sizing: border-box;
			line-height: 2;
			position: relative;
			padding: 45px 0;
			&:not(:first-child) {
				border-top: 2px solid #e1e4e6;
			}
			> * {
				margin: 13px 0;
			}
			h1 {
				font-weight: bold;
				font-size: 2rem;
				font-family: 'Noto Sans', sans-serif;
			}
			p {
				font-size: 1rem;
			}
			.content {
				overflow: hidden;
				p {
					white-space: normal;
					line-height: 2;
					text-align: left;
					word-wrap: break-word;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					@media (min-width: 992px) {
						display: block;
					}
				}
			}
			.date {
				font-size: 1rem;
				color: #8b9194
			}
		}
	}
}
