@charset "utf-8";
#panel-wrap{
	#panel-article {
		margin-top: 100px;
		width: 100%;
		font-family: 'Noto Sans', sans-serif;
		#panel-title {
			//h1 "골프패스 패널 소개" 부분
                font-family: 'notokr-demilight', sans-serif;
                font-size: 32px;
                color: #4d5256;
			span {
				//h1>span '골프패스' 색상과 짧은 보더
                font-family: 'notokr-medium', sans-serif;
                font-size: 32px;
                color: #79b754;
				display: inline-block;
				&::before {
					content: '';
					position: relative;
					top: 0;
					left: 1%;
					display: block;
					width: 15%;
					margin-bottom: 8px;
					border-top: 3px solid black;
				}
			}
		}
		section#panel-section {
			position: relative;
			padding: 80px 0;
			article#panel-box {
				//패널 프로필 컨테이너
				position: static;
				max-width: 960px;
				margin: 0 auto;
				&::after {
					//패널 프로필 컨테이너 바텀 보더
					position: absolute;
					content: '';
					display: block;
					width: 100%;
					left: 0;
					bottom: 0;
					padding: 30px;
					border-bottom: 1px solid #e1e4e6;
				}
				.panel {
					//패널 프로필
					margin-bottom: 40px;
					@media (min-width: 992px) {
						max-width: 20%;
					}
					.panel-content {
						width: 140px;
						overflow: hidden;
						margin-top: 20px;
						p {
							//패널 이름
                            font-family: 'notokr-light', sans-serif;
                            font-size: 14px;
                            color: #4d5256;
							margin-bottom: 10px;
						}
						.intro {
							//패널 소개
                            font-family: 'notokr-light', sans-serif;
                            font-size: 14px;
                            color: #bbbbbb;
							white-space: normal;
							line-height: 2;
							text-align: center;
							word-wrap: break-word;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}
					}
				}
			}
		}
		.pagination {
			//페이지네이션
			a {
				margin: 10px;
                font-family: 'notokr-medium', sans-serif;
                font-size: 11px;
                color: #cecece;
				text-decoration: none;
				&:hover {
					color: black;
				}
			}
			li.current {
				a {
					color: black;
				}
			}
		}
		section#content-boxs {
			//아래 컨텐츠 컨테이너
			margin: 0 auto 60px;
			margin-top: 30px;
			max-width: 960px;
			.content-box {
				//컨텐츠
				box-sizing: border-box;
				line-height: 2;
				position: relative;
				padding: 45px 0;
				&:not(:first-child) {
					//첫번째 컨텐츠를 제외한 나머지 보더top 설정
					border-top: 1px solid #e1e4e6;
				}
				> * {
					margin: 13px 0;
				}
				h1 {
					//제목
                font-family: 'notokr-medium', sans-serif;
                font-size: 32px;
                color: #4d5256;
				}
				p {
					//내용
                    font-family: 'notokr-light', sans-serif;
                    font-size: 17px;
                    color: #4d5256;
				}
				.content {
					//내용이 길어지면 ....
					overflow: hidden;
					p {
						white-space: normal;
						line-height: 2;
						text-align: left;
						word-wrap: break-word;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						@media (min-width: 992px) {
							//화면 커지면 ...없앰
							display: block;
						}
					}
				}
				.date {
					//컨텐츠 날짜
                    font-family: 'notokr-light', sans-serif;
                    font-size: 17px;
                    color: #81878b;
				}
			}
		}
	}

}
