@charset "UTF-8";
//TODO 폰트지정
//NOTE 나눔고딕
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
//NOTE 나눔스퀘
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
//본고딕
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'TmonMonsori';
    src: url('/public/sangmin/fonts/TmonFont/TmonMonsori.woff') format('woff');
    src: url('/public/sangmin/fonts/TmonFont/TmonMonsori.ttf') format('truetype');
}
@font-face {
    font-family: 'notokr-light';
    src:url('/public/sangmin/fonts/noto/notokr-light.eot'),
    url('/public/sangmin/fonts/noto/notokr-light.woff') format('woff'),
    url('/public/sangmin/fonts/noto/notokr-light.woff') format('woff2'),
    url('/public/sangmin/fonts/noto/notokr-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'notokr-medium';
    src:url('/public/sangmin/fonts/noto/notokr-medium.eot'),
    url('/public/sangmin/fonts/noto/notokr-medium.woff') format('woff'),
    url('/public/sangmin/fonts/noto/notokr-medium.woff') format('woff2'),
    url('/public/sangmin/fonts/noto/notokr-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'notokr-regular';
    src:url('/public/sangmin/fonts/noto/notokr-regular.eot'),
    url('/public/sangmin/fonts/noto/notokr-regular.woff') format('woff'),
    url('/public/sangmin/fonts/noto/notokr-regular.woff') format('woff2'),
    url('/public/sangmin/fonts/noto/notokr-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'notokr-thin';
  src:url('/public/sangmin/fonts/noto/notokr-thin.eot'),
  url('/public/sangmin/fonts/noto/notokr-thin.woff') format('woff'),
  url('/public/sangmin/fonts/noto/notokr-thin.woff') format('woff2'),
  url('/public/sangmin/fonts/noto/notokr-thin.ttf') format('truetype');
}
@font-face {
  font-family: 'notokr-demilight';
  src:url('/public/sangmin/fonts/noto/notokr-demilight.eot'),
  url('/public/sangmin/fonts/noto/notokr-demilight.woff') format('woff'),
  url('/public/sangmin/fonts/noto/notokr-demilight.woff') format('woff2'),
  url('/public/sangmin/fonts/noto/notokr-demilight.ttf') format('truetype');
}
