#main-wrap {
  #footer {
	background-color: transparent !important;
	color: #fff !important;
	   // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
	padding: 50px;
  }
	ul {
	  color: #fff !important;
	}
	> p {
	  color: #fff !important;
	}
	strong {
	  color: #fff !important;
	}
  }
}
