#main-wrap {
   >section {
	min-height: 500px;
  }
  #bg-div {
	color: white;
	z-index: -9999; //overflow-x: hidden;
	position: fixed !important;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&::after {
	  content: '';
	  z-index: -9999;
	  top: 0;
	  right: 0;
	  position: absolute;
	  height: 100%;
	  background-color: rgba(38, 38, 38, 0.85);
	  width: 100%;
	}
  }

  .main-section-title {
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 22px;
	font-family: "notokr-regular";
	position: relative;
	&::before {
	  content: '';
	  width: 15px;
	  top: 0;
	  margin-bottom: 20px;
	  position: absolute;
	  border-top: 3px solid white;

	}
  }
}
