#main-wrap {
  #section4 {
	.mobile-content {
	  font-family: 'notokr-medium', sans-serif;
	  left: 6% !important;
	  width: 88% !important;
	  bottom: 15px !important;
	  color: white;
	  border-bottom: 4px solid white;
	  h1 {
		font-size: 2rem;
		margin-bottom: 0;
	  }
	  p {
		font-family: 'notokr-regular', sans-serif;
		font-size: 1.2rem;
		margin-bottom: 5;
	  }
	}
	.position-absolute {
	  left: 5%;
	  bottom: 7%;
	  font-family: 'notokr-regular', sans-serif;
	  h3 {
			font-family: 'notokr-regular', sans-serif;
			font-size: 27px;
              margin-bottom: 10px;
	  }
	  p {
			font-family: 'notokr-demilight', sans-serif;
			font-size: 14px;
          margin: 0;
	  }
	}
  }
}
