#section2 {
  .mobile-content{
	font-family: notokr-medium;
	left: 6%;
	width: 88%;
	bottom:15px;
	color: white;
	border-bottom: 4px solid white;
	h1{
	  font-size: 2rem;
	  margin-bottom: 0;
	}
	p{
	  font-family: notokr-regular;
	  font-size: 1.2rem;
	  margin-bottom: 5;
	}
  }
  .position-absolute {
    right: 10%;
    top: 0;
    span {
      cursor: pointer;
      i {
        font-size: 2rem;
      }
    }

  }
  .slide-list{
    font-family: "notokr-regular", sans-serif;
    color: #FFF;
    >div{
      margin-left: 15px;
      >div{
        width: 84%;
        left:8%;
        top: 78%;
        height: 15%;
        border-bottom: 2px solid white;
      }
    }
  }
}
