#section4 {
  .position-absolute {
    left: 3%;
    bottom: 5%;
    font-family: notokr-regular;
    h3 {
      font-size: 28px;
    }
    p{
      font-size: 14px;
      font-weight: 300;
    }
  }
}