#section1 {
  .carousel {
	width: 100%;
	height: 100%;
	min-height: 800px;
	.carousel-indicators {
	  margin: 0 !important;
	  position: absolute;
	  height: 30%;
	  bottom: 40% !important;
	  left: 90% !important;
	  li {
		border-radius: 50%;
		width: 12px;
		height: 12px;
		padding: 0;
		margin: 10px 0;
		background-color: #fff;
		opacity: 0.2;
	  }
	  li.active {
		background-color: transparent;
		padding: 10px;
		border: 2px solid white;
	  }
	}

	.carousel-inner {
	  height: 100%;
	  width: 100%;
	  .carousel-item {
		width: 100%;
		height: 100%;
		padding: 15px;
		background-size: cover;
		background-position: center;
		img {

		  height: 100%;
		  left: -75%;
		  top: 0;
		  @media (min-width: 768px){
			width: 100%;
			left: 0;
		  }
		}
		.content-box {
		  position: relative;
		  width: 100%;
		  height: 100%;
		  padding: 10px;
		  @media (min-width: 992px)  {
			margin-left: 30px;
			padding: 80px;
		  }


		  color: white;
		  .title {
			h1 {
			  font-family: 'TmonMonsori';
			  font-size: 60px;
			  margin-bottom: 20px;
			}
			p {
			  font-size: 16px;
			  font-family: "notokr-regular";
			  margin-bottom: 20px;
			}
		  }
		  .content {
			p {
			  max-width: 500px;
			  font-size: 14px;
			  font-family: "notokr-light";
			  margin-bottom: 20px;
			}
		  }
		  .btn-box {
			border: 2px solid white;
			width: 140px;
			height: 40px;
			button {
			  background-color: transparent;
			  color: white;
			  border: 0;
			  width: 100%;
			  height: 100%;
			}
		  }
		}
	  }
	}
  }
  #time-border {
	position: absolute;
	height: 70%;
	left: 2.5%;
	top:15%;
	opacity:0.4;
	border: 2px solid #3d4842;
	box-sizing: border-box;
	&::before{
	  content: '';
	  left: -2px;
	  top:-2px;
	  display: inline-block;
	  position: absolute;
	  height: 60%;
	  border:2px solid white;
	}
  }
  #scroll-alert {
	position: absolute;
	bottom: 5%;
	text-align: center;
	width: 50%;
	left: 25%;
	color: white;
	> * {
	  font-size: 14px;
	  font-family: "notokr-regular";
	  margin-bottom: 10px;
	}
  }
  #sns-box {
	position: absolute;
	bottom: 7%;
	width: 15%;
	left: 84%;
	max-width: 200px;
	color: white;
	i {
	  font-size: 18px;
	}
  }

}
