@charset "UTF-8";
#slide_box:hover .area {
    display: block;
    opacity: 0.9;
    transition: opacity .50s;
    -o-transition: opacity .50s;
    -moz-transition: opacity .50s;
    -webkit-transition: opacity .50s;
}

.area {
    margin-top: 150px;
}

.prevarea {
    left: 15px;
    width: 60px;
    height: 110px;
    background-image: url(../../public/images/left-arrow.png);
    background-repeat: no-repeat;
    border: none;
    opacity: 0;
    transition: opacity .50s;
    -o-transition: opacity .50s;
    -moz-transition: opacity .50s;
    -webkit-transition: opacity .50s;
    position: absolute;
    z-index: 99;
}

.nextarea {
    right: 15px;
    width: 60px;
    height: 110px;
    background-image: url(../../public/images/right-arrow.png);
    background-repeat: no-repeat;
    border: none;
    opacity: 0;
    transition: opacity .50s;
    -o-transition: opacity .50s;
    -moz-transition: opacity .50s;
    -webkit-transition: opacity .50s;
    position: absolute;
    z-index: 99;
}

.block_container {
    margin: 0 auto;
    max-width: 1115px;
}


.card {
    background-color: transparent;
    border-radius: 20px;
    border: none;
    overflow: hidden;
}

.block a .card {
    width: 260px;
    transition: all .50s ease;
}

.block a:hover .card {
    transform: scale(0.95);
    z-index: 999999;
        
}


.block a:hover .slides_sl{
    align-items: center;
    justify-content: center;
    display: flex !important;
}

#slides_sl {
    overflow: hidden;
    position: relative;
    height: 450px;
    padding-TOP: 10px;
}

#slides_sl_ul {
    list-style: none;
    width: 100%;
    height: 410px;
    position: relative;
    padding: 0;
    margin: 0 auto;
    margin-left: 10px;
}

#slides_sl_li {
    width: 260px !important;
    height: 410px;
    float: left;
    text-align: center;
    position: relative;

}
