@charset "UTF-8";

.grid_title{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.grid_form{
    max-width:1340px;
    height: 446px;
    margin: 0 auto;
    font-size: 0;
}

.grid_form_left{
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    vertical-align: middle;
}

.grid_list_text{
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.grid_form_right{
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: beige;
    font-size: 0;
    vertical-align: middle;
}

.grid_list_2{
    display: inline-block;
    width:50%;
    height: 50%;
    font-size: 20px;
}

