@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  font-family: "Noto Sans KR", sans-serif; }

#slide_box:hover .area {
  display: block;
  opacity: 0.9;
  transition: opacity .50s;
  -o-transition: opacity .50s;
  -moz-transition: opacity .50s;
  -webkit-transition: opacity .50s; }

.area {
  margin-top: 150px; }

.prevarea {
  left: 15px;
  width: 60px;
  height: 110px;
  background-image: url(../../public/images/left-arrow.png);
  background-repeat: no-repeat;
  border: none;
  opacity: 0;
  transition: opacity .50s;
  -o-transition: opacity .50s;
  -moz-transition: opacity .50s;
  -webkit-transition: opacity .50s;
  position: absolute;
  z-index: 99; }

.nextarea {
  right: 15px;
  width: 60px;
  height: 110px;
  background-image: url(../../public/images/right-arrow.png);
  background-repeat: no-repeat;
  border: none;
  opacity: 0;
  transition: opacity .50s;
  -o-transition: opacity .50s;
  -moz-transition: opacity .50s;
  -webkit-transition: opacity .50s;
  position: absolute;
  z-index: 99; }

.block_container {
  margin: 0 auto;
  max-width: 1115px; }

.block {
  position: relative;
  display: inline-block; }

.card {
  background-color: transparent;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  overflow: hidden; }

.block a .card {
  height: 370px;
  width: 260px;
  transition: all .50s ease; }

.block a:hover .card {
  transform: scale(1.05);
  z-index: 999999; }

#slides_sl {
  overflow: hidden;
  position: relative;
  height: 450px; }

#slides_sl_ul {
  list-style: none;
  width: 100%;
  height: 410px;
  position: relative;
  padding: 0;
  margin: 0 auto; }

#slides_sl_li {
  width: 260px !important;
  height: 410px;
  float: left;
  margin: 7.5px;
  text-align: center;
  position: relative; }

.grid_title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-bottom: 30px; }

.grid_title_big {
  padding-bottom: 15px;
  font-size: 40px; }

.grid {
  max-width: 1340px;
  max-height: 446px;
  margin: 0 auto; }

.grid_form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 0; }

.grid_form_left {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: antiquewhite;
  vertical-align: middle;
  position: relative; }

.grid_list_text {
  font-size: 20px;
  position: absolute;
  color: #fff;
  bottom: 8%;
  left: 6%; }

.grid_form_right {
  display: inline-block;
  max-width: 50%;
  max-height: 100%;
  background-color: beige;
  font-size: 0;
  vertical-align: middle; }

.grid_list_2 {
  display: inline-block;
  width: 50%;
  height: 50%;
  font-size: 20px;
  vertical-align: middle;
  position: relative; }

.content_title {
  margin: 0 auto;
  text-align: center;
  width: 100%; }

.main-section-title {
  margin-bottom: 20px; }

.main_sub_title {
  margin-bottom: 15px;
  font-size: 40px; }

.buttons {
  margin-bottom: 26px; }

.button_category {
  font-family: 'notokr-medium', sans-serif;
  font-size: 14px;
  margin: 0 7px 14px 7px;
  padding: 8px 15px;
  border-radius: 45px;
  line-height: 1;
  color: #000;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.button_category:focus {
  outline: none; }

.all_content {
  max-height: 480px;
  max-width: 1340px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.all_content_form {
  width: 100%;
  height: 100%;
  font-size: 0; }

.content_left {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top; }

.content_right {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top; }

.content {
  position: relative;
  border-radius: 10px;
  height: 100px;
  transition: 0.8s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 15px; }

.content-box {
  padding-right: 20px;
  max-width: 100%; }

.content-box:first-child a .content {
  height: 250px; }

.content:hover {
  height: 250px; }

.hover_content {
  height: 100px !important; }

.content-box .new_position {
  position: absolute;
  left: 40px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex; }

.content-box .new_position2 {
  position: absolute;
  left: 95px;
  margin: 0 auto;
  bottom: 25px;
  font-size: 20px;
  width: 50%;
  color: #f8f9fa;
  flex-direction: column;
  display: flex;
  line-height: 1.5; }

.content-box .content h1 {
  font-size: 25px;
  text-shadow: 0 0 7px black;
  margin-bottom: 5px;
  overflow: hidden;
  height: 32px; }

.content-box .content p {
  font-size: 14px;
  text-shadow: 0 0 7px black;
  overflow: hidden;
  height: 17px; }

.content-box .new_position3 {
  position: absolute;
  right: 40px;
  margin: 0 auto;
  bottom: 30px;
  font-size: 20px; }

.content_rank_list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%; }

.content_rank_list_text {
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid #818589;
  padding: 13px; }

.content_rank_list_text:last-child {
  font-size: 18px;
  color: #000;
  border-bottom: none;
  padding: 13px; }

.list_text_align {
  justify-content: space-between !important;
  display: flex !important;
  line-height: 1.5; }

.rank_num {
  margin-right: 16px;
  margin-left: 8px; }

.all_rank_align {
  align-items: center;
  padding-left: 10px;
  width: 100%; }

.all_rank_text {
  font-size: 18px;
  margin-right: 1rem;
  font-weight: bold; }

.rank_text_bold {
  font-weight: bold; }

.circle_button {
  border-radius: 50%;
  background-color: #f8f9fa;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex; }

.all_rank_atag {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent; }

.text-dark {
  color: #343a40 !important;
  font-size: 16px; }

a {
  text-decoration: none;
  color: inherit; }

a:active {
  color: inherit; }

a:focus {
  outline: none; }

.top_main_wrap {
  position: absolute;
  height: 556px;
  width: 100%; }

.slide_background_image {
  height: 556px;
  width: 100%;
  background-image: url(../../public/images/background.png);
  background-size: cover;
  background-position: center; }

.top_main_wrap_opacity {
  background-color: rgba(0, 0, 0, 0.2);
  . height: 556px; }

.top_main_wrap_gradation {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #000 100%);
  height: 556px; }

.top_header_lineWrap {
  width: 100%;
  height: 40px;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid; }

.top_header_wrap {
  margin: 0 auto;
  max-width: 1024px;
  height: 40px;
  border-left: 1px rgba(255, 255, 255, 0.3) solid; }

.top_header {
  width: 100%;
  height: 40px;
  font-size: 0; }

.top_header_left {
  left: 0;
  width: 70%;
  display: inline-block;
  font-size: 0; }

.top_header_right {
  text-align: right;
  width: 30%;
  display: inline-block;
  font-size: 0; }

.top_header_left .iconbox {
  color: #fff;
  font-size: 12px;
  padding: 0 15px;
  line-height: 40px;
  display: inline-block;
  border-right: 1px rgba(255, 255, 255, 0.3) solid; }

.textOnly {
  color: #fff;
  font-size: 12px;
  padding: 0 15px;
  line-height: 40px;
  display: inline-block; }

.line {
  color: rgba(255, 255, 255, 0.3);
  font-size: 13px;
  line-height: 40px;
  display: inline-block; }

.top_header_right .iconbox {
  color: #fff;
  font-size: 12px;
  padding: 14px 15px 14px 15px;
  display: inline-block;
  border-left: 1px #fff solid; }

.main_nav_wrap {
  width: 100%;
  height: 84px;
  padding-top: 60px;
  margin: 0 auto; }

.logo {
  margin: 0 auto;
  width: 288px; }

.main_nav {
  font-size: 0;
  text-align: center;
  padding-top: 33px;
  margin: 0 auto; }

.main_nav_li {
  padding-right: 30px;
  font-size: 16px;
  color: #fff;
  display: inline-block; }

.main_nav_li:nth-child(5) {
  padding-right: 0px;
  font-size: 16px;
  color: #fff;
  display: inline-block; }

.searchbox_wrap {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 137px; }

.searchbox {
  border: 2px #fff solid;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  width: 99%;
  height: 80px;
  font-size: 0;
  margin: 0 auto; }

.bold {
  font-weight: bold; }

.searchtext {
  padding: 0px 0px 0px 30px;
  color: #fff;
  font-size: 24px;
  width: 82.5%;
  display: inline-block;
  line-height: 80px;
  vertical-align: middle; }

.search_button_wrap {
  width: 1%;
  display: inline-block;
  vertical-align: middle; }

.search_button {
  width: 70px;
  height: 70px;
  color: #fff;
  border-radius: 50%;
  background: linear-gradient(to top, #e4406f, #ff706e); }

.search_icon {
  padding: 20px;
  font-size: 30px; }

.recommendbox {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 0; }

.recommend {
  width: 7%;
  display: inline-block;
  vertical-align: middle; }

.recommend_textbox {
  width: 32px;
  height: 18px;
  border-radius: 2px;
  background-color: #fff; }

.recommend_text {
  font-size: 10px;
  padding-top: 4px;
  text-align: center;
  color: #333; }

.recommend_menu {
  display: inline-block;
  font-size: 0;
  width: 93%;
  color: #fff;
  vertical-align: middle; }

.recommend_menu_li {
  font-size: 13px;
  padding-left: 20px;
  color: #fff;
  display: inline-block;
  text-align: center; }

.golf_info {
  font-size: 12px;
  position: relative;
  text-align: right;
  color: #fff;
  top: 502px;
  right: 20px;
  line-height: 17px; }

.bottom_nav {
  position: relative;
  width: 20%;
  margin: 0 auto; }

.bottom_nav ul {
  text-align: center;
  font-size: 0; }

.bottom_nav_li {
  margin: 0 2.5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5); }

.li_focus {
  background-color: #fff; }

.side_nav {
  position: absolute;
  top: 282px;
  font-size: 0;
  width: 100%; }

.side_nav_left {
  display: inline-block;
  position: absolute;
  left: 0px; }

.side_nav_right {
  display: inline-block;
  position: absolute;
  right: 0px; }

.side_nav_box {
  color: #fff;
  text-align: center;
  display: table;
  font-size: 40px;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
  transition: opacity .50s;
  -o-transition: opacity .50s;
  -moz-transition: opacity .50s;
  -webkit-transition: opacity .50s; }

.side_nav_box:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity .50s;
  -o-transition: opacity .50s;
  -moz-transition: opacity .50s;
  -webkit-transition: opacity .50s; }

.xi-angle-left-thin {
  display: table-cell !important;
  vertical-align: middle; }

.xi-angle-right-thin {
  display: table-cell !important;
  vertical-align: middle; }

/*# sourceMappingURL=main.css.map */
