@charset "utf-8";

#book-box-wrap {
	z-index: 999;
    top: -80px;
		@media (max-width: 991px) {
			top: 0;
		}

	#book-box {
		font-family: 'Noto Sans', sans-serif;
		color: #fff;
		z-index: 1200;
		@media (min-width: 768px) {
			width: 100%;
		}

		#personnel {
			//인원 박스
			background-color: #71b051;
			padding: 15px;
			height: 80px;

			.box-title {
				font-family: 'notokr-regular', sans-serif;
				font-size: 16px;
				display: block;
			}
			#count-box{
				select{
					padding: 0 10px 0 15px;
					width: 90px;
					border: 0;
                    border-radius: 0;
					height: 40px;
					font-family: 'notokr-medium', sans-serif;
					font-size: 24px;
					color: #fff;
                    background-color: #71b051;
					transform: translateY(-8px);//select폼 위치조정
				}
			}

		}

		#dateBox {
			padding: 20px;
			background-color: black;
            
            .custom-select {
					box-sizing: border-box;
					padding: 0 15px 0 15px;
					width: 45%;
					border: 0;
                    border-radius: 0;
					height: 40px;
					font-family: 'notokr-demilight', sans-serif;
					font-size: 14px;
					color: #b2b2b2;
            }
            
			.form-group {
				background-color: white;
				color: black;
				width: 45%;

				input {
					box-sizing: border-box;
					padding: 0 15px 0 15px;
					width: 80%;
					border: 0;
					height: 40px;
					font-family: 'notokr-demilight', sans-serif;
					font-size: 14px;
					color: #b2b2b2;

					&:focus {
						outline: 0;
					}
				}

				i {
					font-size: 14px;
				}
            }
		}

		#info {
			background-color: #fff;
			padding: 25px 20px;
			color: #5e5e5e;
			font-family: 'Noto Sans', sans-serif;
			font-size: 1em;
			border: 1px solid #e6e6e6;
			border-top: 0;

			li {
				margin-bottom: 5px;
				box-sizing: border-box;

				i {
					font-size: 15px;
					color: #efb42a;
				}

				p {
					font-family: 'notokr-regular', sans-serif;
					font-size: 14px;
					color: #4c4c4c;
					margin-bottom: 0;
				}
			}
		}

		#price {
			margin: 0;

			h3 {
				font-family: 'notokr-regular', sans-serif;
				font-size: 14px;
				color: #efb42a;
			}

			p {
				font-family: 'notokr-regular', sans-serif;
				font-size: 30px;
				color: #4c4c4c;
				margin-bottom: 0;
			}
		}
	}
}
