@charset "utf-8";

#book-box-wrap {
	z-index: 1200;

	#book-box {
		font-family: 'Noto Sans', sans-serif;
		color: #fff;
		z-index: 1200;
		@media (min-width: 768px) {
			width: 320px;
		}

		#personnel {
			//인원 박스
			background-color: $background-color1;
			padding: 15px;
			height: 80px;

			.box-title {
				font-family: 'notokr-regular', sans-serif;
				font-size: 16px;
				display: block;
			}
			#count-box{
				select{
					transform: translateY(-3px);//select폼 위치조정
				}
			}

		}

		#dateBox {
			padding: 20px;
			background-color: black;

			#e-day,
			#s-day {
				width: 46%;
			}
		}

		#info {
			background-color: #fff;
			padding: 25px 20px;
			color: #5e5e5e;
			font-family: 'Noto Sans', sans-serif;
			font-size: 1em;
			border: 1px solid #e6e6e6;
			border-top: 0;

			li {
				margin-bottom: 5px;
				box-sizing: border-box;

				i {
					font-size: 15px;
					color: #efb42a;
				}

				p {
					font-family: 'notokr-regular', sans-serif;
					font-size: 14px;
					color: #4c4c4c;
					margin-bottom: 0;
				}
			}
		}

		#price {
			margin: 0;

			h3 {
				font-family: 'notokr-regular', sans-serif;
				font-size: 14px;
				color: #efb42a;
			}

			p {
				font-family: 'notokr-regular', sans-serif;
				font-size: 30px;
				color: #4c4c4c;
				margin-bottom: 0;
			}
		}
	}
}
