@charset "utf-8";

#book-box-wrap {
	font-family: 'Noto Sans', sans-serif;
	right: 0;
	position: relative;
	color: #fff;
	z-index: 300;
	@media (min-width: 992px) {
		position: absolute;
		width: 25%;
		right: 0;
    min-width: 350px;
	}
	@media (min-width: 1199px) {
		width: 20%;
	}

	#book-box {
		border: 1px solid #e6e6e6;
		width: 100%;

		#personnel {
			//인원 박스
			background-color: $background-color1;
			padding: 10px;
			height: 100px;

			h1 {
				font-size: 2rem;
				display: block;
			}

			#count {
				// 숫자 : 0명
				font-size: 1.5rem;
			}

			#icon-box {
				position: relative;
				min-width: 15px;

				span {
					//아래위 화살표
					font-size: 1.4rem;
					position: absolute;

					&:nth-child(1) {
						top: -6px;
					}

					&:nth-child(2) {
						bottom: -5px;
					}

					i {
						cursor: pointer;
					}
				}
			}
		}

		#dateBox {
			padding: 20px;
			background-color: black;

			.form-group {
				background-color: white;
				color: black;
				width: 45%;

				input {
					box-sizing: border-box;
					padding: 5px;
					width: 80%;
					border: 0;
					height: 30px;

					&:focus {
						outline: 0;
					}
				}
			}
		}

		#info {
			background-color: #fff;
			padding: 10px;
			color: #5e5e5e;
			font-family: 'Noto Sans', sans-serif;
			font-size: 1em;

			li {
				margin-bottom: 5px;
				box-sizing: border-box;

				i {
					color: $sub-title-color;
				}
			}
		}

		#price {
			h3 {
        font-size: 2rem;
				color: $sub-title-color;
			}

			p {
				font-size: 1.5rem;
			}
		}
	}
}
