@charset "UTF-8";

#detail-wrap {
    #section1 {
        color: white;
        @include backcover('../sangmin/img/background/bg2.jpg');
        background-repeat: no-repeat;
        position: relative;
        padding: 0;

        #section1-wrap {
            color: white;
            position: relative;
            padding: 120px 0 40px;
            max-width: 1440px;

            > * {
                z-index: 2;
            }

            #detail_slide {
                max-width: 574px;
                margin: 0 auto;
                padding: 10px;
                @media (min-width: 748px) {
                    margin: 0;
                    padding: 0;
                    margin-right: 50px;
                }
            }

            #detail {
                position: relative;
                box-sizing: border-box;
                line-height: 1.2;
                padding: 70px 50px 50px 50px;
                @media (min-width: 768px) {
                    padding: 0 30px 0 0;
                }

                #regine {
                    font-family: 'notokr-regular', sans-serif;
                    font-size: 16px;
                }

                #title {
                    margin-top: 12px;
                    font-family: 'TmonMonsori';
                    font-size: 40px;
                    @media (min-width: 992px) {
                        padding: 0;
                        margin: 10px 0 10px 0;
                    }
                }

                #title-en {
                    font-family: 'notokr-regular', sans-serif;
                    font-size: 16px;
                    margin-bottom: 0;
                }

                #content {
                    margin-top: 30px;
                    font-size: 14px;
                    line-height: 1.6;
                    font-family: 'Noto Sans', sans-serif;

                    #sub-title {
                        font-family: 'notokr-medium', sans-serif;
                        color: $sub-title-color;
                        margin-bottom: 5px;
                    }

                    p {
                        font-family: 'notokr-light', sans-serif;
                        margin-bottom: 80px;
                    }
                }

                #score {
                    //작은별
                    position: absolute;
                    right: 10%;
                    top: 10%;
                    i {
                        color: $yello-color;
                        font-size:26px;
                        @media (min-width: 1200px) {
                            display: none;
                        }
                    }
                    span {
                        font-family: 'notokr-medium', sans-serif;
                        font-size: 14px;
                        color: #fff;
                    }
                    @media (min-width: 768px) {
                        //sm
                        right: 10%;
                        top: 0;
                    }
                    @media (min-width: 992px) {
                        right: 10%;
                        top: 0;
                    }

                }
            }

            #chart {
                display: none;
                @media (min-width: 1200px) {
                    display: flex;
                }
            }
        }

        #shadow {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(38, 38, 38, 0.85);
            overflow-x: hidden;
        }
    }
}

#chart {
    width: 400px;
    height: 400px;
}

#chart-canvas {
    width: 80% !important;
    height: auto !important;
    position: relative
}

#chart-score {
    position: absolute;
    width: 100px;
    height: 80px;
    top: 50%;
    margin-top: -14%;
    left: 50%;
    margin-left: -50px;
    font-family: 'notokr-demilight', sans-serif;
    font-size: 14px;
    color: #ffffff;
    @media (max-width: 1440px) {
        margin-top: -90px;
    }
    p {
        font-family: 'notokr-medium', sans-serif;
        font-size: 20px;
        color: #fdd931;
        margin-top: 5px;
    }
}

#score .score_num {
    vertical-align: super
}

@media (min-width:1200px) {
    #chart {
        display: block !important
    }
    #score .score_num {
        display: none
    }
}

@media (min-width:1024px) and (max-width:1735px) {
    #detail_slide {
        width: 459px;
        max-width: 459px !important;
    }
    #detail_slide .slick-slide img {
        width: 100%;
        max-width: 459px;
        max-height: 302px
    }
    #detail_slide .slider-nav {
        width: 459px;
    }
    #chart-canvas {
        width: 65% !important
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #detail_slide {
        width: 402px;
        max-width: 402px !important
    }
    #detail_slide .slick-slide img {
        width: 100%;
        max-width: 402px;
        max-height: 265px
    }
    #detail_slide .slider-nav {
        width: 402px;
    }
}
