@charset "utf-8";

#main-wrap {
	#section5 {
        padding-top: 100px !important;
		font-family: 'notokr-medium', sans-serif;

		.category {
			//카테고리 버튼 컨테이너

			button {
				//카테고리 버튼
				font-family: 'notokr-medium', sans-serif;
				font-size: 14px;
				margin: 0 7px 14px 7px;
                padding: 8px 15px;
				@media (min-width: 768px) {
					&:first-child {
						margin-left: 0;
					}
				}
				border-radius: 45px;
			}

			button.active {
				box-shadow: 0 0 0 0;
			}
		}

		.content-box {
			//1~3위까지
			.content {
				border-radius: 10px;
				span {
					//동그란 순위 1,2,3
					font-family: 'notokr-medium', sans-serif;
					font-size: 20px;
					width: 40px;
					height: 40px;
				}
				h1 {
          //제목 힐데스하임CC
					font-family: 'notokr-regular', sans-serif;
					font-size: 25px;
                    text-shadow: 0 0 7px rgba(0,0,0,1);
                    margin-bottom: 5px;
                white-space: normal;
                line-height: 1.5;
                overflow: hidden;
                height: 32px;
                word-wrap: break-word;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
				}
				p {
          //내용 ~~패키지
					font-family: 'notokr-demilight', sans-serif;
					font-size: 14px;
                    text-shadow: 0 0 7px rgba(0,0,0,1);
                white-space: normal;
                line-height: 1.5;
                overflow: hidden;
                height: 17px;
                word-wrap: break-word;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
				}
			}
		}

		.list-after-four {
			//4위부터~
			font-family: 'notokr-medium', sans-serif;

			&:not(:last-child) {
				//마지막 요소 보더 x
				border-bottom: 1px solid #818589;
			}

			p {
                font-family: 'notokr-medium', sans-serif;
                font-size: 18px;
				color: #fff;

				span {
					font-family: 'notokr-medium', sans-serif;
					font-size: 18px;
					color: inherit;
				}
			}

			span {
                font-family: 'notokr-demilight', sans-serif;
                font-size: 18px;
				color: #999d9f;
			}
		}
	}
}

.ranking_ghost {
    @media (max-width: 575px) {
        display: none;
    }
}

.justify-content-center {
    a {
        p {
            font-family: 'notokr-demilight', sans-serif;
            font-size: 18px;
            color: #fff;
        }
    }
}

.new_position2 {
    width:50%;
}

.new_position3 {
    @media (max-width: 440px) {
        display: none;
    }
}