.u-modal--wrap {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color:rgba(38,38,38,.9);
  background-image: linear-gradient(0deg, rgba(0,0,0,.2),rgba(0,0,0,.2));
  font-size: 14px;
  font-family: sans-serif;
  color: #4a4a4a;
  display: none; }
  .u-modal--wrap * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  .u-modal--wrap button,
  .u-modal--wrap select,
  .u-modal--wrap [type="text"],
  .u-modal--wrap [type="tel"] {
    background-color: transparent;
    border: none; }
  .u-modal--wrap button {
    text-align: center;
    cursor: pointer; }
  .u-modal--wrap select,
  .u-modal--wrap [type="text"],
  .u-modal--wrap [type="tel"],
  .u-modal--wrap .hasDatepicker {
    height: 40px;
    background-color: #ececec;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    border: none;
    color: #4a4a4a; }
  .u-modal--wrap select + [type="text"] {
    margin-top: 10px;
    display: none; }
  .u-modal--wrap [type="text"] + [type="tel"] {
    margin-top: 10PX; }

.u-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 128px;
  background-image: url(img/modal-golsooni.png);
  background-repeat: no-repeat;
  background-position: center top; }

.u-modal__body {
  background-color: #fff;
  width: 270px;
  padding: 30px 20px;
  border-radius: 20px 20px 0 0; }
  .u-modal__body div {
    overflow: hidden; }
  .u-modal__body h4 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 20px; }
    .u-modal__body h4 b {
      font-weight: 700; }
  .u-modal__body .dashed {
    height: 51px;
    width: 270px;
    background-image: url(img/modal-dashed.png);
    background-position: center 15px;
    background-repeat: no-repeat;
    margin: 0 -20px;
    padding: 15px 0; }
    .u-modal__body .dashed + div p {
      text-align: center;
      font-size: 12px;
      color: #8c8c8c;
      line-height: 1.4; }

.u-modal__btn {
  overflow: hidden; }
  .u-modal__btn button {
    height: 60px;
    color: #fff;
    float: left;
    background-color: #8c8c8c;
    width: 100px;
    font-size: 14px; }

button.u-modal__btn-prev {
  border-radius: 0 0 0 20px; }

button.u-modal__btn-next {
  background-color: #1e602b;
  width: 170px;
  border-radius: 0 0 20px 0;
  font-size: 20px; }

.u-modal__btn-next.alone {
  width: 270px;
  border-radius: 0 0 20px 20px; }

.u-modal__btn-next-o,
.u-modal__btn-next-d {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 14px; }
  .u-modal__btn-next-o span,
  .u-modal__btn-next-d span {
    display: block;
    margin-top: 5px; }

.u-modal__state {
  height: 5px;
  background-color: #e6e6e6; }

.u-modal__state-bar {
  background-color: #e92539;
  display: block;
  height: 5px;
  border-radius: 0 2.5px 2.5px 0; }

.u-modal__radio {
  padding-top: 10px;
  padding-left: 2px; }
  .u-modal__radio label {
    padding-right: 5px;
    display: inline-block;
    font-size: 12px;
    color: #8c8c8c; }
  .u-modal__radio span {
    padding-left: 3px; }

.u-modal__cal {
  text-align: center; }
  .u-modal__cal p {
    margin-bottom: 10px; }
  .u-modal__cal .hasDatepicker {
    width: 50%;
    text-align: center; }
  .u-modal__cal #datepicker1 {
    border-right: 3px solid #fff; }
  .u-modal__cal #datepicker2 {
    float: right;
    border-left: 3px solid #fff; }

[data-state="15"] .u-modal__btn-next-o {
  width: 100%; }

[data-state="16"] p {
  text-align: center;
  line-height: 1.4; }

[data-state] {
  display: none; }

[data-state="2"] {
  display: block;
  padding: 10px 0;
  position: relative; }
  [data-state="2"] [type="text"] {
    text-align: center;
    border: none;
    font-size: 55px;
    width: 100%;
    background-color: #fff;
    height: auto; }
  [data-state="2"] button {
    width: 50px;
    height: 19px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    background-image: url(img/modal-arrow.gif);
    background-repeat: no-repeat;}
  [data-state="2"] .u-modal__num-down {
    left: 16px;
    transform: rotateY(180deg);
    display: none; }
  [data-state="2"] .u-modal__num-up {
    right: 16px; }

.u-modal--trigger_wrap {
  width: 298px;
  height: 66px;
  position: absolute;
  border: none;
  background-image: url(img/notice-bg.png);
  opacity:0.95 !important; filter:alpha(opacity=95);
  right: -300px;
  bottom: 15px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding-left: 15px;
  box-sizing: border-box;
  padding-top: 3px;
  cursor: pointer; }
  .u-modal--trigger_wrap:hover button {
    display: block; }
  .u-modal--trigger_wrap button {
    position: absolute;
    background-color: #0d1807;
    right: 16px;
    top: 4px;
    border: none;
    height: 58px;
    color: #fff;
    width: 50px;
    font-size: 16px;
    padding: 0;
    padding-left: 8px;
    border-left: 2px solid #2f4427;
    display: none; }

[data-state="1"] p {
  text-align: center;
  margin-top: 15px;
  line-height: 1.4; }

#datepicker1.ui-datepicker-calendar {
  display: block; }

#datepicker2.ui-datepicker-calendar {
  display: none; }

/*# sourceMappingURL=style.css.map */
